{include "common/header_manual.tpl"}


<div class="main_width km">
    <img src="/assets/img/common/manual/menu_1.png" />
    <img src="/assets/img/common/manual/menu_2.png" />
    <img src="/assets/img/common/manual/menu_3.png" />
  <a href="/support/manual"><img src="/assets/img/common/manual/re_btn.png" alt="もくじ一覧にもどる" class="re_btn mo km10"></a>
  <hr class="line">
    <img src="/assets/img/common/manual/menu_4.png" id="menu_1" />
    <img src="/assets/img/common/manual/menu_5.png" />
    <img src="/assets/img/common/manual/menu_6.png" />
    <img src="/assets/img/common/manual/menu_7.png" />
  <a href="/support/manual"><img src="/assets/img/common/manual/re_btn.png" alt="もくじ一覧にもどる" class="re_btn mo km10"></a>
  <hr class="line">
    <img src="/assets/img/common/manual/menu_8.png" id="menu_2" />
  <a href="/support/manual"><img src="/assets/img/common/manual/re_btn.png" alt="もくじ一覧にもどる" class="re_btn mo km10"></a>
  <hr class="line">
    <img src="/assets/img/common/manual/menu_9.png" id="menu_3" />
    <img src="/assets/img/common/manual/menu_10.png" />
    <img src="/assets/img/common/manual/menu_11.png" />
  <a href="/support/manual"><img src="/assets/img/common/manual/re_btn.png" alt="もくじ一覧にもどる" class="re_btn mo km10"></a>
  <hr class="line">
    <img src="/assets/img/common/manual/menu_12.png" id="menu_4" />
    <img src="/assets/img/common/manual/menu_13.png" />
  <a href="/support/manual"><img src="/assets/img/common/manual/re_btn.png" alt="もくじ一覧にもどる" class="re_btn mo km10"></a>
</div><!-- (/main_width) -->


{include "common/footer.tpl"}
