{include "common/header_manual.tpl"}


<div class="main_width km">
  <img src="/assets/img/common/manual/news_1.png" />
  <img src="/assets/img/common/manual/news_2.png" />
  <img src="/assets/img/common/manual/news_3.png" />
  <a href="/support/manual"><img src="/assets/img/common/manual/re_btn.png" alt="もくじ一覧にもどる" class="re_btn mo km10"></a>
  <hr class="line">
    <img src="/assets/img/common/manual/news_4.png" id="news_1" />
  <a href="/support/manual"><img src="/assets/img/common/manual/re_btn.png" alt="もくじ一覧にもどる" class="re_btn mo km10"></a>
  <hr class="line">
    <img src="/assets/img/common/manual/news_5.png" id="news_2" />
  <a href="/support/manual"><img src="/assets/img/common/manual/re_btn.png" alt="もくじ一覧にもどる" class="re_btn mo km10"></a>
  <hr class="line">
    <img src="/assets/img/common/manual/news_6.png" id="news_3" />
  <a href="/support/manual"><img src="/assets/img/common/manual/re_btn.png" alt="もくじ一覧にもどる" class="re_btn mo km10"></a>
</div><!-- (/main_width) -->


{include "common/footer.tpl"}
