{include "common/header_manual.tpl"}


<div class="main_width km">
    <img src="/assets/img/common/manual/info_1.png" />
    <img src="/assets/img/common/manual/info_2.png" />
    <img src="/assets/img/common/manual/info_3.png" />
  <a href="/support/manual"><img src="/assets/img/common/manual/re_btn.png" alt="もくじ一覧にもどる" class="re_btn mo km10"></a>
  <hr class="line">
    <img src="/assets/img/common/manual/info_4.png" id="store_1" />
    <img src="/assets/img/common/manual/info_5.png" />
    <img src="/assets/img/common/manual/info_6.png" />
  <a href="/support/manual"><img src="/assets/img/common/manual/re_btn.png" alt="もくじ一覧にもどる" class="re_btn mo km10"></a>
  <hr class="line">
    <img src="/assets/img/common/manual/info_7.png" id="store_2" />
    <img src="/assets/img/common/manual/info_8.png" />
    <img src="/assets/img/common/manual/info_9.png" />
  <a href="/support/manual"><img src="/assets/img/common/manual/re_btn.png" alt="もくじ一覧にもどる" class="re_btn mo km10"></a>
  <hr class="line">
    <img src="/assets/img/common/manual/info_10.png" id="store_3" />
    <img src="/assets/img/common/manual/info_11.png" />
  <a href="/support/manual"><img src="/assets/img/common/manual/re_btn.png" alt="もくじ一覧にもどる" class="re_btn mo km10"></a>
  <hr class="line">
    <img src="/assets/img/common/manual/info_12.png" id="store_4" />
    <img src="/assets/img/common/manual/info_13.png" />
    <img src="/assets/img/common/manual/info_14.png" />
  <a href="/support/manual"><img src="/assets/img/common/manual/re_btn.png" alt="もくじ一覧にもどる" class="re_btn mo km10"></a>
  <hr class="line">
    <img src="/assets/img/common/manual/info_15.png" id="store_5" />
    <img src="/assets/img/common/manual/info_16.png" />
    <img src="/assets/img/common/manual/info_17.png" />
  <a href="/support/manual"><img src="/assets/img/common/manual/re_btn.png" alt="もくじ一覧にもどる" class="re_btn mo km10"></a>
</div><!-- (/main_width) -->


{include "common/footer.tpl"}
