{include "common/header.tpl"}


{include "common/header_meta/goods.tpl"}


<!-- 商品トップ画像の変更 -->
<div class="contents_box">
  <div class="contents_box_head">商品トップ画像の変更
  </div>
  <h4>商品トップ画像の変更</h4>

  <form action="/goods/top/update" method="POST">

<div class="contents_form">
  <ul>
    <li>
      <span class="ml_30">商品トップ画像の変更が完了しました</span>
    </li>
  </ul>

  <hr />

  <a href="/goods" id="save_btn" class="back_btn ml_30">戻る</a>
</div>

  </form>
</div>
<!---->


{include "common/footer.tpl"}
