{include "common/header.tpl"}


{include "common/header_meta/coupon.tpl"}


<!-- クーポンの削除 -->
<div class="contents_box">
  <div class="contents_box_head">クーポンの削除</div>
  <h4>クーポンの削除</h4>

  <div class="contents_form">
    <ul>
      <li>
        <span class="ml_30">クーポン情報の削除が完了しました</span>
      </li>
    </ul>
    <hr />
    <a href="/coupon" id="save_btn" class="back_btn ml_30">戻る</a>
  </div>
</div>
<!---->


<div class="last_margin"></div>


{include "common/footer.tpl"}
