#zero_camp_page{
margin: 0 auto;
width: 690px;
}
#zero_camp_page p{
color: #6B6B6B;
font-size: 15px;
margin-left: 208px;
line-height:1.5;
}
#zero_camp_page p span{
color:#fb9629;
font-weight:bold;
}

.zero_camp_img_1{
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
margin-top: 30px;
}
.zero_camp_btn{
display:inline-block;
width:572px;
height:100px;
background-image:url("/assets/img/common/lp/cp1/camp_img_5.png");
text-indent:-9999px;
margin-left:60px;
}
.zero_camp_btn:hover{
background-position:left bottom;
}

.zero_camp_box{
padding: 30px;
line-height: 1.5;
}

.zero_camp_box dl{
margin: 20px 20px;
width: 350px;
padding: 20px;
border: 3px solid #DFDFDF;
border-radius: 5px;
-moz-border-radius: 10px;
-webkit-border-radius: 5px;
line-height: 1.8;
}
.zero_camp_box dt{
display: inline-block;
width: 100px;
font-weight:bold;
}
.zero_camp_box dd{
display: inline-block;
width: 200px;
}
#zero_camp_caution{
width: 100%;
min-height: 0px;
margin-bottom: 0px;
padding: 0px;
font-weight:bold;
color: #ff9000;
}