{include "common/header.tpl"}

	{* --------- Content : トップ画像の変更 [End] --------- *}
    <div class="row-fluid">
	    <p>トップ画像の更新が完了しました</p>
	    <p><a href="/top">戻る</a></p>
	</div>
	{* --------- Content : トップ画像の変更 [End] --------- *}

{include "common/footer_meta/top.tpl"}
{include "common/footer.tpl"}