@charset "utf-8";
/* CSS Document */

/*****リセット******/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin: 0;padding: 0;border: 0;outline: 0;font-size: 100%;vertical-align: baseline;background: transparent;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {content: '';content: none;}
/* remember to define focus styles! */
:focus {outline: 0;}
/* remember to highlight inserts somehow! */
ins {text-decoration: none;}
del {text-decoration: line-through;}
/* tables still need 'cellspacing=&quot;0&quot;' in the markup */
table {border-collapse: collapse;border-spacing: 0;}
/**************/
.clear{clear:both;}
.mt_m5{margin-top:-5px;}.mt_m10{margin-top:-10px;}.mt_m15{margin-top:-15px;}.mt_m20{margin-top:-20px;}.mt_m30{margin-top:-30px;}.mt_m40{margin-top:-40px;}
.mt_0{margin-top:0px;}.mb_0{margin-bottom:0px;}.mr_0{margin-right:0px;}.ml_0{margin-left:0px!important;}
.mt_3{margin-top:3px;}.mb_3{margin-bottom:3px;}.mr_3{margin-right:3px;}.ml_3{margin-left:3px;}
.mt_5{margin-top:5px;}.mb_5{margin-bottom:5px;}.mr_5{margin-right:5px;}.ml_5{margin-left:5px;}
.mt_7{margin-top:7px;}.mb_7{margin-bottom:7px;}.mr_7{margin-right:7px;}.ml_7{margin-left:7px;}
.mt_10{margin-top:10px;}.mb_10{margin-bottom:10px;}.mr_10{margin-right:10px;}.ml_10{margin-left:10px;}
.mt_15{margin-top:15px;}.mb_15{margin-bottom:15px;}.mr_15{margin-right:15px;}.ml_15{margin-left:15px;}
.mt_20{margin-top:20px;}.mb_20{margin-bottom:20px;}.mr_20{margin-right:20px;}.ml_20{margin-left:20px;}
.mt_30{margin-top:30px;}.mb_30{margin-bottom:30px;}.mr_30{margin-right:30px;}.ml_30{margin-left:30px!important;}
.mt_40{margin-top:40px;}.mb_40{margin-bottom:40px;}.mr_40{margin-right:40px;}.ml_40{margin-left:40px;}
.mt_50{margin-top:50px;}.mb_50{margin-bottom:50px;}.mr_50{margin-right:50px;}.ml_50{margin-left:50px;}
.mt_60{margin-top:60px;}.mb_60{margin-bottom:60px;}.mr_60{margin-right:60px;}.ml_60{margin-left:60px;}
.mt_80{margin-top:80px;}.mb_80{margin-bottom:80px;}.mr_80{margin-right:80px;}.ml_80{margin-left:80px;}
.mt_100{margin-top:100px;}.mb_100{margin-bottom:100px;}.mr_100{margin-right:100px;}.ml_100{margin-left:100px;}
.pt_5{padding-top:5px;}.pb_5{padding-bottom:5px;}.pr_5{padding-right:5px;}.pl_5{padding-right:5px;}
.pt_10{padding-top:10px;}.pb_10{padding-bottom:10px;}.pr_10{padding-right:10px;}.pl_10{padding-left:10px;}
.pt_10{padding-top:10px;}.pb_10{padding-bottom:10px;}.pr_10{padding-right:15px;}.pl_10{padding-left:15px;}
.pt_20{padding-top:20px;}.pb_20{padding-bottom:20px;}.pr_20{padding-right:20px;}.pl_20{padding-left:20px;}
.pt_30{padding-top:30px;}.pb_30{padding-bottom:30px;}.pr_30{padding-right:30px;}.pl_30{padding-left:30px;}
.ml_206{margin-left:206px!important;}.ml_116{margin-left:116px!important;}
.fl{float:left;}.fr{float:right;}
.fw_b{font-weight:bold;}.fw_n{font-weight:normal;}
.ta_c{text-align:center;}.ta_l{text-align:left;}.ta_r{text-align:right;}
.db{display: block;}.dn{display: none;}.di{display: inline-block;}
.ht_50{height:50px;}
a:hover {
font-style: normal;
text-decoration: none;
}
a:visited {
text-decoration: none;
}
a:link {
text-decoration: none;
}
a {
font-style: normal;
text-decoration: none;
}
/**************/
/*
head
*/
#line_1 {
width: 100%;
height: 4px;
/*background-color: #626262;*/
background-color: #008cb4;
}
#head {
background-color: #fff;
width: 100%;
height: 86px;
min-width: 890px;guide_contents_box
}
#line_2 {
width: 100%;
}
#head #logout_btn:hover {
background-color: #fafafa;
background-image: -moz-linear-gradient(#fafafa);
background-image: -webkit-linear-gradient(#fafafa);
background-image: linear-gradient(#fafafa);
-webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
filter: brightness(90%);
-webkit-filter: brightness(90%);
}
#head #logout_btn {
position: relative;
display: inline-block;
padding: 7px 15px;
font-size: 13px;
font-weight: bold;
color: #454545;
text-shadow: 0 1px 0 rgba(255,255,255,0.9);
white-space: nowrap;
background-color: #eaeaea;
background-image: -moz-linear-gradient(#fafafa, #eaeaea);
background-image: -webkit-linear-gradient(#fafafa, #eaeaea);
background-image: linear-gradient(#fafafa, #eaeaea);
background-repeat: repeat-x;
border-radius: 3px;
box-shadow: 0 1px 3px rgba(0,0,0,0.05);
vertical-align: middle;
cursor: pointer;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
-webkit-appearance: none;
line-height: 1.4;
border-bottom: 2px solid #c5c5c5;
margin-right: 30px;
margin-top: 0px;
border-top: 1px solid #F5F5F5;
border-right: 1px solid #EBEBEB;
border-left: 1px solid #EBEBEB;
}
#head #logo {
margin-left: 15px;
margin-top: 20px;
float: left;
margin-left: 4%;
}
/*#login_name{
display: inline-block;
font-size: 13px;
margin-left: 10px;
color: #454545;
background: url(..//assets/img/common/user_icon.png);
background-repeat: no-repeat;
background-position: 0px 0px;
padding-left: 18px;
margin-right: 20px;
height: 20px;
font-weight: bold;
margin-top: 39px;
cursor: pointer;
}*/
#login_name{
display: inline-block;
font-size: 13px;
margin-left: 10px;
color: #454545;
background: url(/assets/img/common/logout_tri.png);
background-repeat: no-repeat;
background-position: right top;
padding-right: 15px;
margin-right: 25px;
height: 20px;
font-weight: bold;
margin-top: 39px;
cursor: pointer;
background-size: 12px;
}
#login_name:hover{
-webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
opacity: 0.7;
filter: alpha(opacity=70);
-ms-filter: “alpha( opacity=70 )”;
}
#login_name span{
color:#818181;
font-weight: normal;
}
#logout{
display:none;
background-color: rgb(255, 255, 255);
border: 1px solid rgb(204, 204, 204);
padding: 10px 20px 10px 12px;
margin-right: 20px;
box-shadow: rgba(0, 0, 0, 0.0980392) 0px 1px 1px 0px, rgb(255, 255, 255) 0px 1px 1px 0px inset;
-webkit-box-shadow: rgba(0, 0, 0, 0.0980392) 0px 1px 1px 0px, rgb(255, 255, 255) 0px 1px 1px 0px inset;
position: absolute;
width: 172px;
font-weight: bold;
border-radius: 3px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
}
#logout:before{
content: '';
position: absolute;
border-bottom: 8px solid #ccc;
border-right: 8px solid transparent;
border-left: 8px solid transparent;
top: -8px;
right: 56px;
}
#logout:after{
content: '';
position: absolute;
border-bottom: 8px solid #FFF;
border-right: 8px solid transparent;
border-left: 8px solid transparent;
top: -7px;
right: 56px;
}
#logout a:hover {/*マウスをのせたとき*/
color:#454545;
text-decoration:underline;
}
#logout a:active {/*クリック中*/
text-decoration:none;
}
#logout a{
color: #818181;
display: block;
font-weight: normal;
text-decoration: none;
vertical-align: bottom;
}
#logout a img{
vertical-align: middle;
margin-right: 5px;
}
/*
foot
*/
#foot {
color: #818181;
font-size: 12px;
background-color: #f5f5f0;
}
#foot hr {
height: 0;
border: 0;
border-top: 1px solid #d2d2d2;
border-bottom: 1px solid #ffffff;
width: 100%;
margin: 0;
}
#foot p {
margin-top: 20px;
margin-left: 20px;
margin-bottom: 60px;
}
#foot a {
color: #008cb4;
font-style: normal;
text-decoration: none;
}
#foot a:hover {
color: #005580;
text-decoration: underline;
}
#foot a:visited {
text-decoration: none;
}
#foot a:link {
}
/*
common
*/
body {
font-family: "ＭＳ Ｐゴシック","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ","Meiryo",Osaka,verdana,arial,clean,sans-serif;
font-size: 13px;
color: #454545;
background-color: #f5f5f0;
}
#pan{
margin: 0 auto;
height: 40px;
background: #E6E6E6;
border: 1px solid #E0E0E0;
min-width: 350px;
padding-left: 4%;
}
#topicpath {
padding-right: 0px;
padding-left: 3px;
color: #4b4b4b;
font-size: 13px;
margin-top: 13px;
margin-left: 10px;
}

#topicpath li:nth-child(1){
background: url(/assets/img/common/home_icon.gif) no-repeat left center, url(/assets/img/common/topicpath_icon.gif) no-repeat right center;
padding-left: 13px;
}

#topicpath li {
display: inline;
line-height: 110%;
list-style-type: none;
background: url(/assets/img/common/topicpath_icon.gif) no-repeat right center;
padding-right: 10px;
padding-left: 1px;
}

#topicpath li:last-child{
background: none;
}

#container {
min-width: 500px;
}
#menu {
float: left;
width: 225px;
background-color: #3a3a3a;
font: bold 15px Verdana,sans-serif;
}
#menu ul li:hover {
-webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
opacity: 0.5;
filter: alpha(opacity=80);
-ms-filter: “alpha( opacity=80 )”;
}
#menu ul li {
height: 64px;
vertical-align: bottom;
line-height: 2.5em;
font-size: 16px;
font-weight: bold;
}
#menu ul li img {
vertical-align: middle;
margin-left: 30px;
margin-right: 20px;
margin-top: 13px;
}
#menu ul li:hover{
-webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
opacity:0.5;
filter:alpha(opacity=80);
-ms-filter: “alpha( opacity=80 )”;
}
#menu ul #current:hover{
-webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
opacity:1;
filter:alpha(opacity=1);
-ms-filter: “alpha( opacity=1 )”;
}
#menu ul #current{
background: #4B4B4B;
color: #A3A3A3;
}
#menu hr {
margin: 0 auto;
height: 0;
border: 0;
border-top: 1px solid #2f2f2f;
border-bottom: 1px solid #484848;
width: 100%;
}
#menu a:visited {
color: #fff;
text-decoration: none;
}
#menu a:link {
color: #fff;
text-decoration: none;
}
#menu a {
color: #fff;
font-style: normal;
text-decoration: none;
}
#menu ul {
padding-top: 10px;
}
#title_wrap{
height: 70px;
margin-left: 5%;
margin-right: 5%;
margin-top: 20px;
min-width: 400px;
}
#title_wrap_original{
height: 70px;
margin-left: 1%;
margin-right: 5%;
margin-top: 20px;
min-width: 400px;
}
#title_bar_menu {
float: left;
border-bottom-left-radius: 2px;
border-bottom-right-radius: 2px;
background: #f7ad24;
width: 8px;
height: 59px;
}
#title_box {
float: left;
margin-top: 12px;
}
#title_box h2 {
margin: 0 auto;
width: auto;
margin-bottom: 5px;
font-weight: normal;
font-size: 28px;
margin-left: 20px;
color: #4E4E4E;
}
#title_sub {
margin: 0 auto;
width: auto;
margin-bottom: 20px;
margin-left: 22px;
font-size: 12px;
color: #7A7A7A;
}
#help_pre_box{
float:right;
margin-top: 45px;
}
#help_pre_box a, #topicpath li a {
color: #008cb4;
text-decoration: none;
}
#help_pre_box a:hover, #topicpath li a:hover {
color: #005580;
text-decoration: underline;
}
#pre_btn{
background: url(/assets/img/common/pre_icon_2.gif) no-repeat -1px 10px;
padding: 15px;
padding-right: 0px;
padding-left: 20px;
}
#help_btn{
background: url(/assets/img/common/help_icon.gif) no-repeat 0px 11px;
padding: 15px;
padding-right: 0px;
padding-left: 22px;
}

#contents {
width: auto;
background-color: #f5f5f0;
min-height: 650px;
margin-left: 340px;
}
#contents.no_preview{
  max-width: 768px;
  margin: auto;
}
.contents_box {
margin: 0 auto;
height: auto;
border-radius: 3px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
background: #fff;
border-bottom: 2px solid #c5c5c5;
margin-left: 5%;
margin-right: 5%;
border-top: 1px solid #EBEBEB;
border-right: 1px solid #EBEBEB;
border-left: 1px solid #EBEBEB;
margin-top: 20px;
min-width: 350px;
}
.contents_box_head {
background: url(/assets/img/common/bg/box_head.jpg);
background-position: 0px 0px;
border-top-left-radius: 3px;
border-top-right-radius: 3px;
color: #fff;
font-weight: bold;
padding-left: 30px;
padding-top: 13px;
padding-bottom: 13px;
border-bottom: 1px solid #517EA8;
vertical-align: bottom;
}
.contents_box_head img{
width: 15px;
vertical-align: middle;
float: right;
margin-right: 20px;
}
.contents_box .edit_btn:hover {
-webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
filter: brightness(90%);
-webkit-filter: brightness(90%);
}
.contents_box .edit_btn {
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
background: #FFFFFF;
float: right;
margin-top: -35px;
margin-right: 30px;
padding: 5px 10px;
color: #7A7A7A;
border: 1px solid #DBDBDB;
border-bottom: 2px solid #c5c5c5;
font-weight: bold;
text-decoration: none;
}
/*.contents_box h4 {
color: #008cb4;
font-size: 19px;
font-weight: bold;
margin-left: 30px;
margin-top: 15px;
margin-bottom: 15px;
}*/
.contents_box h4 {
color: #7A7A7A;
font-size: 15px;
font-weight: normal;
margin-left: 30px;
margin-top: 15px;
margin-bottom: 15px;
}
.con_img {
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
margin-left: 30px;
margin-bottom:20px;
}

.last_margin{
height: 30px;
width: auto;
}
.contents_box hr {
margin: 0;
border: 1px dotted #c5c5c5;
border-bottom: none;
margin-top: 20px;
margin-left: 30px;
margin-right: 30px;
width: auto;
margin-bottom: 20px;
}
.cel{
padding-bottom: 20px;
min-width: 500px;
}
.cel li {
min-height: 30px;
min-width: 500px;
}
.cel label {
float: left;
width: 140px;
display: block;
margin-left: 30px;
line-height: 30px;
font-weight: bold;
margin-right: 20px;
}
.cel span {
-webkit-transition: border linear .2s,box-shadow linear .2s;
-moz-transition: border linear .2s,box-shadow linear .2s;
-o-transition: border linear .2s,box-shadow linear .2s;
transition: border linear .2s,box-shadow linear .2s;
display: inline-block;
min-height: 20px;
margin-bottom: 5px;
line-height: 30px;
color: #555;
vertical-align: middle;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
width: 280px;
}

/*
アップロード
*/
.contents_form{
margin-bottom: 20px;
}
#upload {
margin-left: 179px;
margin-top: -10px;
margin-bottom: 5px;
display: block;
}
.back_btn{
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
background: #FFFFFF;
margin-right: 5px;
padding: 9px 10px;
color: #7A7A7A;
border: 1px solid #DBDBDB;
border-bottom: 2px solid #c5c5c5;
font-weight: bold;
text-decoration: none;
display: inline-block;
}
.save_btn{
margin: 0;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
background: #FFFFFF;
margin-right: 5px;
padding: 7px 10px 8px 10px;
color: #F0F0F0;
border: 1px solid #DBDBDB;
border-bottom: 2px solid #c5c5c5;
font-weight: bold;
text-decoration: none;
display: inline-block;
background-color: #394859;
background-image: -moz-linear-gradient(#89BD1A, #7EAC16);
background-image: -webkit-linear-gradient(#89BD1A, #7EAC16);
background-image: linear-gradient(#89BD1A, #7EAC16);
margin-left: 179px;
}

.back_btn:hover, .save_btn:hover{
-webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
filter: brightness(90%);
-webkit-filter: brightness(90%);
cursor: pointer;
}
.form_img{
margin-left: 0px;
margin-top: 10px;
border: 1px solid #E9E9E9;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}

/*フォーム*/
.contents_form {
margin-top: 20px;
}
.contents_form ul li {
min-height: 50px;
}
.contents_form label {
float: left;
display: block;
width: 130px;
text-align: right;
line-height: 30px;
font-weight: bold;
margin-right: 30px;
margin-left: 20px;
}
.contents_form label.hisu:after {
  display: block;
  content: "【必須】";
  margin-top: -15px;
  margin-right: -8px;
  color: #900;
}
.contents_form label+label {
width: 8em;
margin: 0;
text-align: left;
}
.contents_box span {
display: inline-block;
width: 280px;
min-height: 20px;
margin-bottom: 5px;
padding: 4px 7px;
color: #555;
line-height: 20px;
vertical-align: middle;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
-webkit-transition: border linear .2s,box-shadow linear .2s;
-moz-transition: border linear .2s,box-shadow linear .2s;
-o-transition: border linear .2s,box-shadow linear .2s;
transition: border linear .2s,box-shadow linear .2s;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
background-color: #fff;
border: 1px solid #ccc;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
display: inline-block;
height: auto;
padding: 5px 10px;
margin-top: 0px;
margin-bottom: 20px;
font-size: 14px;
line-height: 20px;
color: #555;
vertical-align: middle;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
width: 280px;
}
select+p.desc, textarea+p.desc, input[type="text"]+p.desc, input[type="password"]+p.desc, input[type="datetime"]+p.desc, input[type="datetime-local"]+p.desc, input[type="date"]+p.desc, input[type="month"]+p.desc, input[type="time"]+p.desc, input[type="week"]+p.desc, input[type="number"]+p.desc, input[type="email"]+p.desc, input[type="url"]+p.desc, input[type="search"]+p.desc, input[type="tel"]+p.desc, input[type="color"]+p.desc, .uneditable-input+p.desc {
  margin-top: -15px;
}
p.desc{
margin-bottom: 30px;
margin-left: 179px;
font-size: 11px;
color: #7A7A7A;
}
p.desc span{
line-height: normal;
padding: 5px 0px;
color: #900;
width: auto;
}
p.error {
margin: -10px 0 20px 180px;
color: #b00;
}
.ml_179{
margin-left: 179px;
}
/*
プレビュー
*/
#dialog-preview{
width: 300px;
float: left;
margin-left: 4%;
margin-top: 20px;
}
#dialog-preview body{
background-color: #f5f5f0;
}

/*
メニュードロップダウン
*/
#nav {
  margin: 0;
    padding: 0;
    list-style: none;
    padding-top: 30px;
    padding-left: 73px;
    display: inline-block;
}

  /* make the LI display inline */
  /* it's position relative so that position absolute */
  /* can be used in submenu */
  #nav li {
    float:left;
    display:block;
    width:150px;
    background:#fff;
    position:relative;
    z-index:500;
    margin:0 1px;
    vertical-align: bottom;
  }

  /* this is the parent menu */
  #nav li a {
    display:block;
    padding:8px 5px 0 5px;
    font-weight:700;
    height:23px;
    text-decoration:none;
    color:#fff;
    text-align:center;
    color:#454545;
	vertical-align: bottom;
  }

  #nav li a:hover {
    color:#008cb4;
  }

  /* you can make a different style for default selected value */
  #nav a.selected {
    color: #008cb4;
  }

    /* submenu, it's hidden by default */
    #nav ul {
      position:absolute;
      left:0;
      display:none;
      margin:0 0 0 -1px;
      padding:0;
      list-style:none;
      border: 1px solid rgb(204, 204, 204);
      background: #fff;
	  vertical-align: bottom;
    }

    #nav ul li {
      width:150px;
      float:left;
      border-top:1px solid #fff;
    }

    /* display block will make the link fill the whole area of LI */
    #nav ul a {
      display:block;
      height:15px;
      padding: 8px 5px;
      color:#666;
	  text-align: left;
      padding-left: 18px;
    }

    #nav ul a:hover {
      text-decoration:none;
      color:#fff;
    }

#nav ul li:hover{
background-color:#008cb4 !important;
}

/* fix ie6 small issue */
/* we should always avoid using hack like this */
/* should put it into separate file : ) */
*html #nav ul {
  margin:0 0 0 -2px;
}

#nav li img{
vertical-align: middle;
margin-right: 5px;
}

#nav ul li img{
vertical-align: middle;
margin-right: 5px;
}

  #nav li:nth-child(1)  {
    float:left;
    display:block;
    width:80px;
    background:#fff;
    position:relative;
    z-index:500;
    margin:0 1px;
    vertical-align: bottom;
  }

#nav ul li:nth-child(1)  {
    float:left;
    display:block;
    width:150px;
    background:#fff;
    position:relative;
    z-index:500;
    margin:0 1px;
    vertical-align: bottom;
  }

/*
ホバー
*/
.contenthover {
padding: 7px 20px 10px 7px;
width: 160px;
height: 88px;
}
.contenthover .edit_btn:hover {
-webkit-transition: all 0.1s ease;
-moz-transition: all 0.1s ease;
-o-transition: all 0.1s ease;
filter: brightness(80%);
-webkit-filter: brightness(80%);
}
.contenthover .edit_btn {
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
background: #FFFFFF;
padding: 5px 10px;
color: #7A7A7A;
border: 1px solid #DBDBDB;
border-bottom: 2px solid #c5c5c5;
font-weight: bold;
text-decoration: none;
display: inline-block;
margin-top: -1px;
margin-right: 14px;
}

.contenthover .del_icon:hover{
-webkit-transition: all 0.1s ease;
-moz-transition: all 0.1s ease;
-o-transition: all 0.1s ease;
filter: brightness(80%);
-webkit-filter: brightness(80%);
}
#sortable-li {
padding:0 20px 20px 30px;
}
#sortable-li li{
margin-right:10px;
margin-top: 20px;
border: 1px solid #E9E9E9;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}
#sortable-li li img{
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}
#sortable_h4{
margin-bottom: 0px;
}

/*
ツールチップ
*/
.my-custom-theme {
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  color: #7A7A7A;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
}
.my-custom-theme .tooltipster-content {
  font-family: Arial, sans-serif;
  font-size: 12px;
  line-height: 1.5;
  padding: 10px 20px;
}
label .tooltip{
margin-left: 2px;
vertical-align: sub;
}

/*
サブメニュー
*/
#line_3{
background:#666;
width:100%;
height:50px;
}

/*ニュース*/
.contents_box ul li {
min-height: 30px;
}
#table_text {
text-align: left;
font-size: 13px;
min-height: 70px;
padding-left: 220px;
line-height: 1.4;
margin-top: 20px;
margin-right: 20px;
}
.news_table img {
float: left;
}
.news_table{
max-height:110px;
}

.deli_btn{
margin: 0;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
background: #FFFFFF;
margin-right: 5px;
padding: 7px 10px 8px 10px;
color: #F0F0F0;
border: 1px solid #DBDBDB;
border-bottom: 2px solid #c5c5c5;
font-weight: bold;
text-decoration: none;
display: inline-block;
background-color: #394859;
background-image: -moz-linear-gradient(#89BD1A, #7EAC16);
background-image: -webkit-linear-gradient(#89BD1A, #7EAC16);
background-image: linear-gradient(#89BD1A, #7EAC16);
margin-left: 0px;
}

.deli_btn:hover{
-webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
filter: brightness(90%);
-webkit-filter: brightness(90%);
cursor: pointer;
}

.news_edit_btn:hover {
-webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
filter: brightness(90%);
-webkit-filter: brightness(90%);
}
.news_edit_btn {
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
background: #FFFFFF;
float: left;
padding: 5px 10px;
color: #7A7A7A;
border: 1px solid #DBDBDB;
border-bottom: 2px solid #c5c5c5;
font-weight: bold;
text-decoration: none;
line-height: 1.4;
margin-right: 5px;
}

.border_img{
border: 1px solid #E9E9E9;
}

/*
並べ替え
*/
.sort_box{
display: inline-block;
cursor:move;
}

/*
サブナビゲーション
*/
/*#second_nav{
padding-top: 20px;
margin-left: 5%;
}
#second_nav li{
border: 1px solid #e2e2e2;
display: inline-block;
height: 80px;
width: 80px;
border-radius: 4px;
-moz-border-radius: 10px;
-webkit-border-radius: 4px;
background-color: #f0f0f0;
border-bottom: 2px solid #c5c5c5;
margin-right: 5px;
cursor: pointer;
}
#second_nav li:hover {
-webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
filter: brightness(90%);
-webkit-filter: brightness(90%);
}*/

/*
サブナビゲーション
*/
#sub_menu_wrap{
margin-left: 340px;
}

#sub_menu{
padding-top: 26px;
margin-left: 5%;
}
#sub_menu li{
display: inline-block;
margin-right: 20px;
cursor: pointer;
}
#sub_menu li:hover {
-webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
filter: brightness(90%);
-webkit-filter: brightness(90%);
}

/*
payment
*/
.payment_box{
margin: 0 auto;
width: 700px;
}
.payment_form li label{
width: 80px;
margin-left: 20px;
}
.payment_form li span{
width: 470px;
}
.payment_pack{
margin: 30px auto 0px auto;
display: block;
}
.payment_text{
display: inline-block;
}
.payment_note_box{
color: #555;
margin: 40px;
}
.payment_note_box_2{
color: #555;
margin: 80px 40px 40px 40px;
}

.payment_note_box p{
margin: 60px 0px 30px 30px;
display: inline-block;
width: 340px;
line-height: 1.8;
}
.payment_note_box_2 p{
margin: 20px 30px 20px 30px;
line-height: 1.8;
}

#payment_limit_box{
background: url(/assets/img/common/payment/limit_img.png) no-repeat;
height: 256px;
width: 500px;
margin-left: 30px;
}
#payment_limit_box .widget_head_2{
padding-top: 51px;
margin-left: 227px;
font-weight: bold;
color: #D15F4F;
margin-bottom: 10px;
}

#payment_limit_box .payment_limit_text{
margin-left: 229px;
}

.payment_limit_text_caution{
margin-left: 127px;
margin-top: 118px;
line-height: 1.5;
}

.payment_limit_text_caution2{
margin-left: 127px;
line-height: 1.5;
}

#payment_limit_box a:hover {
color: #005580;
text-decoration: underline;
}
#payment_limit_box a {
color: #008cb4;
font-style: normal;
text-decoration: none;
}
#payment_guide{
line-height: 1.8;
color: #555;
letter-spacing: 0.1em;
}
#guide_flow p img{
vertical-align: middle;
margin-right: 20px;
margin-left: 20px;
margin-bottom: 10px;
}
#payment_guide ul{
font-size:12px;
}
.guide_contents_box{
margin: 0 auto;
height: auto;
border-radius: 3px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
background: #fff;
border-bottom: 2px solid #c5c5c5;
border-top: 1px solid #EBEBEB;
border-right: 1px solid #EBEBEB;
border-left: 1px solid #EBEBEB;
padding: 20px 40px;
margin: 30px 0px 20px;
}
.guide_notice{
border-top: #ddd 1px solid;
padding-top: 20px;
border-bottom: #ddd 1px solid;
margin-bottom: 40px;
}
.ml_150{
margin-left:150px;
}
.ml_70{
margin-left:70px;
}

#payment_comfirm_text{
color: #008cb4;
font-style: normal;
text-decoration: none;
}

#payment_comfirm_text:hover {
color: #005580;
text-decoration: underline;
}
#payment_comfirm_text:visited {
text-decoration: none;
}

/*
news_pager
*/

.pagination{
margin-top: 10px;
display: inline-block;
margin-left: 30px;
}

.pagination span{
float: left;
width: 10px;
border: 1px #C0C0C0 solid;
border-radius: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
padding: 0px 3px 0px 6px;
margin-right: 4px;
}

.pagination span:hover{
background: #DDDDDD;
}

.pagination span a{
color: #008cb4;
}

.pagination .previous-inactive, .pagination .previous, .pagination  .next, .pagination .next-inactive{
border:none;
background: none!important;
}

.pagination .previous-inactive a:hover, .pagination .previous a:hover, .pagination  .next a:hover, .pagination .next-inactive a:hover{
color: #7E7E7E;
}

.pagination .previous-inactive, .pagination .next-inactive{
display:none;
}

.pagination .active{
background: #DDDDDD;
}

.pagination .active a{
color: #5F5F5F!important;
font-weight: bold;
}

