@charset "utf-8";
/* CSS Document */


/*****リセット******/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing=&quot;0&quot;' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/**************/


.clear{
clear:both;
}

.mt_5{margin-top:5px;}
.mb_5{margin-bottom:5px;}
.mr_5{margin-right:5px;}
.ml_5{margin-left:5px;}
.mt_10{margin-top:10px;}
.mb_10{margin-bottom:10px;}
.mr_10{margin-right:10px;}
.ml_10{margin-left:10px;}
.mt_20{margin-top:20px;}
.mb_20{margin-bottom:20px;}
.mr_20{margin-right:20px;}
.ml_20{margin-left:20px;}
.fl{float:left;}.fr{float:right;}



a{/*リンクされた文字*/
    font-style:normal;
    text-decoration:none;
}
a:link {/*未訪問のリンク*/
    text-decoration:none;
}
a:visited {/*訪問後のリンク*/
    text-decoration:none;
}
a:hover {/*マウスをのせたとき*/
    font-style:normal;
    text-decoration:none;
}
a:active {/*クリック中*/
    text-decoration:none;
}

body{
font-family: "ＭＳ Ｐゴシック","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ","Meiryo",Osaka,verdana,arial,clean,sans-serif;
font-size:13px;
color:#454545;
background-color: #f5f5f0;
}

/* エラーメッセージ用 */
p.error{
margin: -10px 0 20px 180px;
color: #b00;
}

/*
header
*/

#line_1{
width:100%;
height:10px;
background-color:#0D8DBB;
}

#head{
background-color:#fff;
width:100%;
min-width: 600px;
height:163px;
}

#head #logo{
margin-left:30px;
margin-top:33px;
}

#head #logout_btn{
position: relative;
display: inline-block;
padding: 7px 15px;
font-size: 13px;
font-weight: bold;
color: #454545;
text-shadow: 0 1px 0 rgba(255,255,255,0.9);
white-space: nowrap;
background-color: #eaeaea;
background-image: -moz-linear-gradient(#fafafa, #eaeaea);
background-image: -webkit-linear-gradient(#fafafa, #eaeaea);
background-image: linear-gradient(#fafafa, #eaeaea);
background-repeat: repeat-x;
border-radius: 3px;
box-shadow: 0 1px 3px rgba(0,0,0,0.05);
vertical-align: middle;
cursor: pointer;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
-webkit-appearance: none;
line-height: 1.4;
border-bottom: 2px solid #c5c5c5;
float:right;
margin-right: 30px;
margin-top: -30px;
}

#head #logout_btn:hover{
background-color: #fafafa;
background-image: -moz-linear-gradient(#fafafa);
background-image: -webkit-linear-gradient(#fafafa);
background-image: linear-gradient(#fafafa);
/*border-bottom:none;
top:2px;*/
-webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
filter: brightness(90%);
-webkit-filter:brightness(90%);
}

#line_2{
width:100%;
height:6px;
background-color:#dcddd8;
}

/*
/header
*/


/*
index
*/

#index_head_wrap{

}

#index_contents{
margin:0 auto;
width: 820px;
margin-top: 25px;
position:relative;
margin-bottom: 32px;
}

#index_contents a{/*リンクされた文字*/
    color: #008cb4;
    font-style:normal;
    text-decoration:none;
}
#index_contents a:link {/*未訪問のリンク*/
    color: #008cb4;
    text-decoration:none;
}
#index_contents a:visited {/*訪問後のリンク*/
    color: #008cb4;
    text-decoration:none;
}
#index_contents a:hover {/*マウスをのせたとき*/
	color: #005580;
	text-decoration: underline;
}
#index_contents a:active {/*クリック中*/
    color: #008cb4;
    text-decoration: underline;
}

.index_contents_box{
width: 515px;
height: 155px;
border-radius: 3px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
background: #fff;
border-bottom: 2px solid #c5c5c5;
float: right;
margin-bottom: 10px;
margin-left: 20px;
}

.index_contents_box hr{
margin: 0;
border: 1px dotted #c5c5c5;
border-bottom: none;
margin-left: 20px;
margin-right: 20px;
}

.index_contents_box_head{
background: url(/assets/img/common/bg/box_head.jpg);
background-position: 0px 0px;
border-top-left-radius: 3px;
border-top-right-radius: 3px;
color: #fff;
font-weight: bold;
padding-left: 20px;
padding-top: 13px;
padding-bottom: 13px;
}

.index_contents_box_head span{
color:#194c62;
margin-left: 10px;
}

#index_contents dl{
margin-top: 8px;
margin-bottom: 8px;
overflow: auto;
width: 500px;
height: 97px;
}

#index_contents dl dt{
display: inline-block;
float: left;
margin-left: 20px;
line-height: 2.5;
font-weight: bold;
}

#index_contents dl dd{
display: inline-block;
line-height: 2.5;
margin-left: 20px;
}

#index_order{
display:block;
position: absolute;
right: -4px;
top: -6px;
}


/*#index_order:hover{
-webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
opacity:0.9;
filter:alpha(opacity=90);
-ms-filter: “alpha( opacity=90 )”;
}*/

#index_posterpop{
float: left;
display: block;
margin-left: -7px;
}

#index_help{
float: right;
display: block;
margin-bottom: 20px;
}

#index_posterpop:hover, #index_help:hover{
-webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
opacity:0.9;
filter:alpha(opacity=90);
-ms-filter: “alpha( opacity=90 )”;
}

.index_dotted{
margin: 0;
border: 1px dotted #c5c5c5;
border-bottom: none;
margin-top: 20px;
margin-bottom: 20px;
margin-left: 0px;
margin-right: 0px;
width: auto;
}

#app_howto_link{
background: url(/assets/img/common/index/gray_arrow.png) no-repeat 9px 10px;
float: right;
padding-top: 10px;
padding-left: 22px;
}

/*スライダー*/

#intro {
width: 580px;
margin: 0 auto;
}
.wrapper {
background-color: white;
width: 480px;
margin: 40px auto;
padding: 50px;
box-shadow: 0 0 5px #999;
}
.list_carousel {
margin: 0 auto;
width: 834px;
margin-top: 40px;
}
.list_carousel ul {
margin: 0;
padding: 0;
list-style: none;
display: block;
}
.list_carousel li {
/*font-size: 40px;
color: #999;
text-align: center;
background-color: #eee;
border: 5px solid #999;
width: 50px;
height: 50px;
padding: 0;
margin: 6px;*/
display: block;
float: left;
}
.list_carousel.responsive {
width: auto;
margin-left: 0;
}
.clearfix {
float: none;
clear: both;
}

a.prev.disabled {
background-position: 0 -124px !important;
cursor: default;
}

.prev {
background-image: url(/assets/img/common/index/arrows.png);
background-position: 0 -62px;
background-repeat: no-repeat;
background-color: transparent;
/*position: absolute;*/
display: block;
float: left;
width: 60px;
height: 62px;
margin-left: -82px;
margin-top: -188px;
cursor: pointer;
}

a.prev:hover {
background-position: 0px 0px;
}

a.prev span{
display:none;
}

a.next.disabled {
background-position: -60px -124px !important;
cursor: default;
}

.next {
background-image: url(/assets/img/common/index/arrows.png);
background-position: -60px -62px;
background-repeat: no-repeat;
background-color: transparent;
/*position: absolute;*/
display: block;
float: right;
width: 60px;
height: 62px;
margin-right: -82px;
margin-top: -188px;
cursor: pointer;
}

a.next:hover {
background-position: -60px 0px;
}

a.next span{
display:none;
}

.pager {
float: left;
width: 100%;
text-align: center;
margin-top: 15px;
}
.pager a {
background-image: url(/assets/img/common/index/pase.png);
background-position: -17px 4px;
background-repeat: no-repeat;
background-color: transparent;
display: inline-block;
width: 15px;
height: 15px;
margin: 0 5px 0 0;
text-decoration: none;
}
.pager a.selected {
text-decoration: underline;
background-position: 3px 4px;
cursor: default;
}

.pager a span {
display: none;
}

.timer {
background-color: #999;
height: 6px;
width: 0px;
}

#foo2 li a:hover img{
-webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
opacity:0.9;
filter:alpha(opacity=90);
-ms-filter: “alpha( opacity=90 )”;
}

/*/スライダー*/

/*
/index
*/

/*
TOP
*/

#contents{
background-color: #3a3a3a;
}

#contents_wrap{
height: auto;
width: 70%;
background-color: #f5f5f0;
float: left;
}

.contents_box{
margin: 0 auto;
width:80%;
height: auto;
border-radius: 3px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
background: #fff;
border-bottom: 2px solid #c5c5c5;
}

.contents_box_head{
background: url(/assets/img/common/bg/box_head.jpg);
background-position: 0px 0px;
border-top-left-radius: 3px;
border-top-right-radius: 3px;
color: #fff;
font-weight: bold;
padding-left: 30px;
padding-top: 13px;
padding-bottom: 13px;
}

.contents_box ul li {
min-height: 30px;
}

.contents_box ul li a{/*リンクされた文字*/
    color: #008cb4;
    font-style:normal;
    text-decoration:none;
}
.contents_box ul li a:link {/*未訪問のリンク*/
    color: #008cb4;
    text-decoration:none;
}
.contents_box ul li a:visited {/*訪問後のリンク*/
    color: #008cb4;
    text-decoration:none;
}
.contents_box ul li a:hover {/*マウスをのせたとき*/
	color: #005580;
	text-decoration: underline;
}
.contents_box ul li a:active {/*クリック中*/
    color: #008cb4;
    text-decoration: underline;
}

.contents_box label{
float: left;
width: 140px;
display: block;
margin-right: 20px;
margin-left: 30px;
line-height: 30px;
font-weight: bold;
text-align: right;
}

.contents_box span {
background-color: #fff;
-webkit-transition: border linear .2s,box-shadow linear .2s;
-moz-transition: border linear .2s,box-shadow linear .2s;
-o-transition: border linear .2s,box-shadow linear .2s;
transition: border linear .2s,box-shadow linear .2s;
display: inline-block;
min-height: 20px;
padding: 4px 7px;
margin-bottom: 5px;
line-height: 20px;
color: #555;
vertical-align: middle;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
width: 280px;
}

.contents_box img{
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
margin-left: 30px;
}

h2{
margin: 0 auto;
width: auto;
margin-bottom: 10px;
font-weight: bold;
font-size: 35px;
margin-left:20px;
}

#title_sub{
margin: 0 auto;
width: auto;
margin-bottom: 30px;
margin-left:20px;
}

h4{
color: #008cb4;
font-size: 19px;
font-weight: bold;
margin-left: 30px;
margin-top: 15px;
margin-bottom: 15px;
}

#contents_box_wrap{
}

.contents_box .edit_btn{
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
background: #e1e2dd;
color: #787878;
float: right;
margin-top: -35px;
margin-right: 30px;
padding: 5px 10px;
color: #454545;
}

.contents_box .edit_btn:hover{
-webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
filter: brightness(90%);
-webkit-filter: brightness(90%);
}

hr{
margin: 0 auto;
border: 1px solid #e1e2dd;
border-bottom: none;
margin-top: 20px;
margin-bottom: 20px;
}

.contents_box hr{
margin: 0;
border: 1px dotted #c5c5c5;
border-bottom: none;
margin-top: 20px;
margin-bottom: 0px;
margin-left: 30px;
margin-right: 20px;
width:auto;
}

#menu{
/*position:fixed;*/
width:242px;
height:auto;
background-color:#3a3a3a;
font: bold 15px Verdana,sans-serif;
float: left;
min-height: 1570px;
}

#menu hr{
margin: 0 auto;
height:0;
border:0;
border-top:1px solid #2f2f2f;
border-bottom:1px solid #484848;
width: 80%;
}

#menu a{/*リンクされた文字*/
    color:#fff;
    font-style:normal;
    text-decoration:none;
}
#menu a:link {/*未訪問のリンク*/
    color:#fff;
    text-decoration:none;
}
#menu a:visited {/*訪問後のリンク*/
    color:#fff;
    text-decoration:none;
}
#menu a:hover {/*マウスをのせたとき*/
    color:#fff;
    font-style:normal;
    text-decoration:none;
}
#menu a:active {/*クリック中*/
    color:#fff;
    text-decoration:none;
}

#menu ul{
padding-top: 15px;
}

#menu ul li{
height:66px;
vertical-align: bottom;
line-height:2em;
font-size: 20px;
font-weight: normal;
}

#menu ul li img{
vertical-align: middle;
margin-left: 40px;
margin-right: 20px;
margin-top: 13px;
}

#menu ul li:hover{
-webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
opacity:0.5;
filter:alpha(opacity=80);
-ms-filter: “alpha( opacity=80 )”;
}

#menu ul #current:hover{
-webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
opacity:1;
filter:alpha(opacity=1);
-ms-filter: “alpha( opacity=1 )”;
}

#title_bar{
float: left;
border-bottom-left-radius: 3px;
border-bottom-right-radius: 3px;
background: #008cb4;
width: 15px;
height: 83px;
}

#title_box{
float: left;
margin-top: 25px;
}

#title_wrap{
margin: 0 auto;
width: 80%;
}

#all_wrap{
min-width: 850px;
}

/*
/TOP
*/


#title_bar_coupon{
float: left;
border-bottom-left-radius: 3px;
border-bottom-right-radius: 3px;
background: #90b50a;
width: 15px;
height: 83px;
}

#title_bar_news{
float: left;
border-bottom-left-radius: 3px;
border-bottom-right-radius: 3px;
background: #479f22;
width: 15px;
height: 83px;
}


#title_bar_menu{
float: left;
border-bottom-left-radius: 3px;
border-bottom-right-radius: 3px;
background: #f7ad24;
width: 15px;
height: 83px;
}

#title_bar_payment{
float: left;
border-bottom-left-radius: 3px;
border-bottom-right-radius: 3px;
background: #cd4538;
width: 15px;
height: 83px;
}



/*
footer
*/

#foot{
color:#818181;
font-size:12px;
}

#foot hr{
height: 0;
border: 0;
border-top: 1px solid #d2d2d2;
border-bottom: 1px solid #ffffff;
width: 100%;
margin: 0;
}

#foot p{
margin-top: 20px;
margin-left: 55px;
margin-bottom: 60px;

}

#foot a{/*リンクされた文字*/
    color: #008cb4;
    font-style:normal;
    text-decoration:none;
}
#foot a:link {/*未訪問のリンク*/
    color: #008cb4;
    text-decoration:none;
}
#foot a:visited {/*訪問後のリンク*/
    color: #008cb4;
    text-decoration:none;
}
#foot a:hover {/*マウスをのせたとき*/
	color: #005580;
	text-decoration: underline;
}
#foot a:active {/*クリック中*/
    color: #008cb4;
    text-decoration: underline;
}

/*
footer
*/

/*
フォーム
*/

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
background-color: #fff;
border: 1px solid #ccc;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);

display: inline-block;
height: auto;
padding: 5px 10px;
margin-bottom: 20px;
font-size: 14px;
line-height: 20px;
color: #555;
vertical-align: middle;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
width: 280px;
}

select:focus, textarea:focus, input:focus{
-webkit-box-shadow: 0 1px 0 rgba(0,140,180,.075);
box-shadow: 0 1px 0 rgba(0,140,180,.075);
-webkit-transition: .2s linear background;
-moz-transition: .2s linear background;
transition: .2s linear background;
border:1px solid #008cb4;
}

.contents_form{
margin-top: 20px;
}

.contents_form label {
float: left;
width: 130px;
text-align: right;
display: block;
margin-right: 20px;
line-height: 30px;
font-weight: bold;
}

select {
background-color: #fff;
border: 1px solid #ccc;
height: 30px;
line-height: 30px;
width: auto;
}


/*
/フォーム
*/

/*
ニュース
*/
.news_table img {
float: left;
}

#table_text {
text-align: left;
font-size: 13px;
min-height: 70px;
padding-left: 220px;
line-height: 1.4;
margin-top: 20px;
margin-right: 20px;
}

#table_text a{
font-weight:bold;
}

#upload {
margin-left: 178px;
margin-top: 10px;
margin-bottom: 20px;
display: block;
}

.gray_btn{
position: relative;
display: inline-block;
padding: 7px 15px;
font-size: 13px;
font-weight: bold;
color: #454545;
text-shadow: 0 1px 0 rgba(255,255,255,0.9);
white-space: nowrap;
background-color: #eaeaea;
background-image: -moz-linear-gradient(#fafafa, #eaeaea);
background-image: -webkit-linear-gradient(#fafafa, #eaeaea);
background-image: linear-gradient(#fafafa, #eaeaea);
background-repeat: repeat-x;
border-radius: 3px;
box-shadow: 0 1px 3px rgba(0,0,0,0.05);
vertical-align: middle;
cursor: pointer;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
-webkit-appearance: none;
line-height: 1.4;
border-bottom: 2px solid #c5c5c5;
border-top: none;
border-right: none;
border-left: none;
}

.blue_btn {
position: relative;
display: inline-block;
padding: 7px 15px;
font-size: 13px;
font-weight: bold;
color: #fff;
white-space: nowrap;
background-color: #394859;
background-image: -moz-linear-gradient(#394859, #27384b);
background-image: -webkit-linear-gradient(#394859, #27384b);
background-image: linear-gradient(#394859, #27384b);
background-repeat: repeat-x;
border-radius: 3px;
box-shadow: 0 1px 3px rgba(0,0,0,0.05);
vertical-align: middle;
cursor: pointer;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
-webkit-appearance: none;
line-height: 1.4;
border-bottom: 2px solid #888888;
border-top: none;
border-right: none;
border-left: none;
}

#save_btn {
margin-left: 130px;
}


.blue_btn:hover, .gray_btn:hover{
background-color: #fafafa;
background-image: -moz-linear-gradient(#fafafa);
background-image: -webkit-linear-gradient(#fafafa);
background-image: linear-gradient(#fafafa);
-webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
filter: brightness(90%);
-webkit-filter: brightness(90%);
}

.contents_form hr {
margin: 0;
border: 1px dotted #c5c5c5;
border-bottom: none;
margin-top: 20px;
margin-bottom: 0px;
margin-left: 30px;
margin-right: 20px;
width: auto;
margin-bottom: 20px;
}

.contents_form img{
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
margin-left: 0px;
}

#send{
line-height: 2em;
}

/*
/ニュース
*/

/*
メニュー
*/

.menu_table_text {
text-align: left;
font-size: 13px;
padding-left: 215px;
line-height: 1.4;
max-width: 400px;
min-height: 56px;
}

.menu_cate_box img {
float: left;
}

.menu_table_text a {
font-weight: bold;
color: #008cb4;
}

.up_down {
float: right;
width: 50px;
margin-right: 20px;
margin-top: 3px;


display: none;



}




.menu_cate_box {
line-height: 1.4;
float: left;
min-width: 500px;
}

.menu_ac {
padding: 20px;
}

.menu_inline:first-child {
border: 1px solid #ccc;
display: block;
margin-left: 178px;
margin-top: 20px;
padding: 20px;
border-top-right-radius: 4px;
border-top-left-radius: 4px;
}

.menu_inline {
border: 1px solid #ccc;
display: block;
margin-left: 178px;
padding: 20px;
border-top: none;
}



/*
クーポン
*/

#coupon_text {
font-size: 13px;
line-height: 1.3;
margin-bottom: 5px;
}

.mb-inside img{
margin-left:0;
}

#coupon_limit {
font-size: 13px;
font-weight: bold;
margin: 5px 0;
color: #4B4B4B;
}

#number_slider {
font-family: 'Linear', "Helvetica Neue", Arial;
color: #B6B6B6;
font-size: 12px;
letter-spacing: 1px;
margin-top: 5px;
font-weight: normal;
}


#coupon_left_right_btn{
display: none;
}



.contents_form ul li {
min-height: 50px;
}

.list_sub {
font-size: 10px;
margin-left: 100px;
margin-top: -18px;
font-weight: bold;
letter-spacing: 0.2em;
}
.list_main {
margin-top: -50px;
margin-left: 100px;
}

/*
home
*/

.app_info {
float: left;
background: #fff;
border-radius: 4px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
padding: 10px 10px;
width: 245px;
float: left;
border-bottom: 2px solid #c5c5c5;
margin-top: 7px;
height: 241px;
}

.app_info_head {
padding-top: 8px;
font-size: 14px;
color: #0D8DBB;
font-weight: bold;
border-bottom: 1px solid #ccc;
padding-bottom: 7px;
margin: 0;
}

.app_btn{
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
background: #FFFFFF;
margin-top: 10px;
padding: 5px 10px;
color: #7A7A7A;
border: 1px solid #DBDBDB;
border-bottom: 2px solid #c5c5c5;
font-weight: bold;
text-decoration: none;
display: inline-block;
}

.app_btn:hover{
-webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
filter: brightness(90%);
-webkit-filter: brightness(90%);
}

#app_icon_img{
width: 60px;
height: 60px;
margin-top: 15px;
float: left;
border: 1px solid #D3D3D3;
border-bottom: 2px solid #c5c5c5;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
margin-left: 8px;
}

#app_icon_img_25{
width: 25px;
height: 25px;
margin-top: 2px;
float: left;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
margin-left: 8px;
margin-right: 5px;
}
.app_info fieldset{
margin-top: 20px;
margin-left: 8px;
line-height: 1.4;
}
.app_info fieldset img{
vertical-align: middle;
margin-right:3px;
}
.app_info legend{
vertical-align: bottom;
letter-spacing: 1px;
font-size: 13px;
float: left;
width: 115px;
line-height: 1.8;
}
.app_info legend img{
vertical-align: sub;
}

#index_bannar_1{
margin-right: -8px;
margin-left: 10px;
margin-bottom: 8px;
}
#index_bannar_2{
margin-right: -8px;
margin-left: 10px;
margin-bottom: 7px;
}
#index_bannar_3{
margin-right: -8px;
margin-left: 8px;
}
#index_bannar_1:hover, #index_bannar_2:hover, #index_bannar_3:hover, .index_banner:hover{
-webkit-transition: all 0.1s ease;
-moz-transition: all 0.1s ease;
-o-transition: all 0.1s ease;
filter: brightness(95%);
-webkit-filter: brightness(95%);
}
#app_icon_img:hover{
-webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
opacity: 0.85;
filter: alpha(opacity=85);
-ms-filter: “alpha( opacity=85 )”;
}
.index_contents_right{
float: right;
width: 515px;
}

/*アプリの作り方*/

.index_contents_left{
float:left;
}
.index_contents_left ul{
float:left;
background: url(/assets/img/common/index/bar_ul.png) no-repeat 2px 260px;
}
.index_contents_left ul li{
font-size:12px;
color:#353535;
font-weight:normal;
padding-left: 15px;
}
.index_contents_left ul li{
padding-left: 45px;
padding-bottom: 9px;
}
.index_contents_left ul .index_bar1{
background: url(/assets/img/common/index/bar1_off.png) no-repeat 2px 0px;
}
.index_contents_left ul .index_bar2{
background: url(/assets/img/common/index/bar2_off.png) no-repeat 2px 0px;
padding-top: 9px;
}
.index_contents_left ul .index_bar3{
background: url(/assets/img/common/index/bar3_off.png) no-repeat 2px 0px;
padding-top: 9px;
}
.index_contents_left ul .index_bar4{
background: url(/assets/img/common/index/bar4_off.png) no-repeat 2px 0px;
padding-top: 9px;
}
.index_contents_left ul .index_bar5{
background: url(/assets/img/common/index/bar5_off.png) no-repeat 2px 0px;
padding-top: 9px;
}
.index_contents_left ul .index_bar6{
background: url(/assets/img/common/index/bar6_off.png) no-repeat 2px 0px;
padding-top: 9px;
}
.index_contents_left ul .index_bar7{
background: url(/assets/img/common/index/bar7_off.png) no-repeat 2px 0px;
padding-top: 9px;
}
.index_contents_left ul .index_bar8{
background: url(/assets/img/common/index/bar8_off.png) no-repeat 2px 0px;
padding-top: 9px;
}
.index_contents_left ul li a{
letter-spacing: 1px;
color:#0D8DBB;
font-weight:bold;
margin-bottom: 5px;
display: inline-block;
text-decoration: none;
font-size: 15px;
}
.index_contents_left ul li a:hover {
color: #005580;
text-decoration: underline;
}
.index_contents_left ul li p{
letter-spacing: 1px;
font-weight:bold;
margin-bottom: 5px;
display: inline-block;
text-decoration: none;
font-size: 15px;
}
.index_contents_left hr{ 
margin-top: 0px;
margin-bottom: 0px;
border-top: 1px dotted #b5b6b1;
border-bottom: none;
margin-left: 38px;
}
#app_info_hint{
margin: 0 auto;
border-radius: 4px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
padding: 10px;
margin-top: 14px;
border: 2px solid #DADADA;
height: 70px;
line-height: 1.4;
font-size: 12px;
width: 210px;
background: #F5F5F5;
}


