@charset "utf-8";
/* CSS Document */

.clearfix:after {
	content: "";
	clear: both;
	display: block;
}
.ls_01 {
	letter-spacing: 0.1em
}
.lh_15 {
	line-height: 1.5
}
.lh_18 {
	line-height: 1.8
}
.c_gra {
	color: #999;
}
.fs_11 {
	font-size: 11px;
}
.blue_btn {
	margin: 0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background: #FFFFFF;
	margin-right: 5px;
	color: #F0F0F0;
	border: 1px solid #DBDBDB;
	border-bottom: 2px solid #c5c5c5;
	font-weight: bold;
	text-decoration: none;
	display: inline-block;
	background-image: -moz-linear-gradient(#89BD1A, #7EAC16);
	background-image: -webkit-linear-gradient(#89BD1A, #7EAC16);
	background-image: linear-gradient(#89BD1A, #7EAC16);
	line-height: 1.4;
}
/*
home
*/

#home {
	margin: 0 auto;
	width: 1045px;
}
#home .left {
	float: left;
	width: 330px;
}
#home .right {
	float: right;
	width: 670px;
}
#home h3 {
	color: #707070;
	letter-spacing: 0.1em;
	font-size: 14px;
	font-weight: normal;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	border-top-left-radius: 4px;
	-moz-border-top-left-radius: 4px;
	-webkit-border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	-moz-border-top-right-radius: 4px;
	-webkit-border-top-right-radius: 4px;
}
#home .app h3 {
	padding: 15px 0px 15px 20px;
	text-shadow: 0px 0px 7px #C8E2E4;
}
#home .app {
	background-color: #d8dee0;
	background-repeat: no-repeat;
	margin-bottom: 25px;
	margin-top: 25px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
#home .app #app_status {
	text-align: center;
}
#home .app #app_status .app_lv {
	color: #797979;
	margin-bottom: 20px;
	letter-spacing: 0.1em;
}
#home .app #app_status .app_lv span {
	height: 20px;
	width: 20px;
	margin-right: 5px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	display: inline-block;
}
#home .app #app_status .app_lv .open {
	background-color: #4fd6b0;
}
#home .app #app_status .app_lv .time {
	background-color: #eb695e;
}
#home .app #app_status .app_lv .stop {
	background-color: #f4bb1a;
}
#home .app #app_status .sign {
	color: #fff;
	padding-top: 4px;
	padding-left: 1px;
}
#home .app #app_status img {
	margin: 0 auto;
	width: 90px;
	height: 90px;
	background: #CCC;
	text-align: center;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	border-bottom: 2px solid #BBBBBB;
}
#home .app h2 {
	font-size: 18px;
	letter-spacing: 0.1em;
	margin: 15px 0px;
	color: #FFFFFF;
	text-shadow: 0px 1px 5px #797979;
}
#home .app #app_text {
	background-color: #63CBDF;
	padding: 15px 20px;
	line-height: 1.8;
	color: #fff;
	border-bottom-left-radius: 4px;
	-moz-border-bottom-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	-moz-border-bottom-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	border-bottom: 2px solid #c5c5c5;
}
#home .info {
	background-color: #ecf0f1;
}
#home .info h3 {
	background-color: #d8dee0;
	margin-bottom: 20px;
	padding: 15px 0px 15px 20px;
}
#home .info dl {
	padding-bottom: 20px;
	margin-bottom: 15px;
	border-bottom: 2px solid #c5c5c5;
	border-bottom-left-radius: 4px;
	-moz-border-bottom-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	-moz-border-bottom-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
}
#home .info dt {
	margin: 0px 20px 0px 15px;
	color: #008cb4;
	letter-spacing: 0.1em;
}
#home .info dt a:hover {
	color: #005580;
	text-decoration: underline;
}
#home .info dt a {
	color: #008cb4;
	font-style: normal;
	text-decoration: none;
}
#home .info dd {
	color: #737373;
	line-height: 1.8;
	padding: 0px 20px 15px 55px;
	background-image: url(/assets/img/app/spost/top/line_gra.gif);
	background-repeat: repeat-y;
	background-position: 29px;
}
#home .info dd:last-child {
	background-image: none;
}
#home .info dd p {
	color: #B1B1B1;
	font-family: 'Open Sans', sans-serif;
}
#home .info dd span {
	color: #46D8BF;
	margin-left: 10px;
}
#home .info dt span {
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	background-color: #43c7e9;
	width: 30px;
	height: 30px;
	display: inline-block;
	margin-right: 10px;
	text-align: center;
	color: #fff;
	line-height: 30px;
}
.edit h4 {
	color: #4dbbc2;
	margin-bottom: 15px;
	letter-spacing: 0.1em;
	font-size: 15px
}
.edit {
	margin-bottom: 25px;
	margin-top: 25px;
}
.edit .item_1 {
	background: rgba(255, 255, 255, 0.7);
	padding: 20px;
	border-top-left-radius: 4px;
	-moz-border-top-left-radius: 4px;
	-webkit-border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	-moz-border-top-right-radius: 4px;
	-webkit-border-top-right-radius: 4px;
}
.edit .item_1 a {
	color: #535454;
	padding: 75px 10px 15px;
	display: block;
}
.edit .item_1 ul li {
	display: inline-block;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border: solid 1px #C4C4C4;
	color: #535454;
	text-align: center;
	margin-bottom: 15px;
	letter-spacing: 0.1em;
	border-bottom: 2px solid #c5c5c5;
	background-repeat: no-repeat;
	background-position: 50% 36%;
	margin-right: 5px;
	float: left;
	width: 150px;
}
.edit .item_1 ul li:last-child {
	background: url(/assets/img/app/spost/top/h_icon13.png), #b4d9db;
	background-image/***/: url(/assets/img/app/spost/top/h_icon13.png)\9;/* IE8 */
	background-repeat: no-repeat;
	background-position: 50% 36%;
}
.edit .item_1 ul li:nth-child(4n) {
	margin-right: 0px;
}
.edit .item_1 ul li:last-child a {
	color: #fff;
}
.edit .item_2 {
	background-color: #eee;
	padding: 20px;
	border-bottom-left-radius: 4px;
	-moz-border-bottom-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	-moz-border-bottom-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	border-bottom: 2px solid #c5c5c5;
}
.edit .item_2 ul li {
	display: inline-block;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border: solid 1px #C4C4C4;
	color: #535454;
	line-height: 1.8;
	border-bottom: 2px solid #c5c5c5;
	background-repeat: no-repeat;
	float: left;
	margin-right: 5px;
}
.edit .item_2 ul li:last-child {
	margin-right: 0px;
}
.edit .item_2 a {
	color: #535454;
	display: block;
	width: 133px;
	padding: 10px 10px 10px 60px;
}
.edit .top {
	background: url(/assets/img/app/spost/top/h_icon1.png), #fcfaf7;
	background-image/***/: url(/assets/img/app/spost/top/h_icon1.png)\9;/* IE8 */
}
.edit .news {
	background: url(/assets/img/app/spost/top/h_icon2.png), #fcfaf7;
	background-image/***/: url(/assets/img/app/spost/top/h_icon2.png)\9;/* IE8 */
}
.edit .store {
	background: url(/assets/img/app/spost/top/h_icon3.png), #fcfaf7;
	background-image/***/: url(/assets/img/app/spost/top/h_icon3.png)\9;/* IE8 */
}
.edit .goods {
	background: url(/assets/img/app/spost/top/h_icon4.png), #fcfaf7;
	background-image/***/: url(/assets/img/app/spost/top/h_icon4.png)\9;/* IE8 */
}
.edit .company {
	background: url(/assets/img/app/spost/top/h_icon5.png), #fcfaf7;
	background-image/***/: url(/assets/img/app/spost/top/h_icon5.png)\9;/* IE8 */
}
.edit .segments {
	background: url(/assets/img/app/spost/top/h_icon6.png), #fcfaf7;
	background-image/***/: url(/assets/img/app/spost/top/h_icon6.png)\9;/* IE8 */
}
.edit .menu {
	background: url(/assets/img/app/spost/top/h_icon7.png), #fcfaf7;
	background-image/***/: url(/assets/img/app/spost/top/h_icon7.png)\9;/* IE8 */
}
.edit .reserve {
	background: url(/assets/img/app/spost/top/h_icon8.png), #fcfaf7;
	background-image/***/: url(/assets/img/app/spost/top/h_icon8.png)\9;/* IE8 */
}
.edit .group {
	background: url(/assets/img/app/spost/top/h_icon9.png), #fcfaf7;
	background-image/***/: url(/assets/img/app/spost/top/h_icon9.png)\9;/* IE8 */
}
.edit .coupon {
	background: url(/assets/img/app/spost/top/h_icon10.png), #fcfaf7;
	background-image/***/: url(/assets/img/app/spost/top/h_icon10.png)\9;/* IE8 */
}
.edit .recruit {
	background: url(/assets/img/app/spost/top/h_icon11.png), #fcfaf7;
	background-image/***/: url(/assets/img/app/spost/top/h_icon11.png)\9;/* IE8 */
}
.edit .url {
	background: url(/assets/img/app/spost/top/h_icon12.png), #fcfaf7;
	background-image/***/: url(/assets/img/app/spost/top/h_icon12.png)\9;/* IE8 */
}
.edit .info_edit {
	background: url(/assets/img/app/spost/top/h_icon14.png), #FFF;
	background-image/***/: url(/assets/img/app/spost/top/h_icon14.png)\9;/* IE8 */
	background-position: 10px;
}
.edit .apply {
	background: url(/assets/img/app/spost/top/h_icon15.png), #FFF;
	background-image/***/: url(/assets/img/app/spost/top/h_icon15.png)\9;/* IE8 */
	background-position: 15px;
}
.edit .limit {
	background: url(/assets/img/app/spost/top/h_icon16.png), #FFF;
	background-image/***/: url(/assets/img/app/spost/top/h_icon16.png)\9;/* IE8 */
	background-position: 10px;
}
.edit .item_1 ul li:hover {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	filter: brightness(95%);
	-webkit-filter: brightness(95%);
}
.edit .item_2 ul li:hover {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	filter: brightness(95%);
	-webkit-filter: brightness(95%);
}
#home .f_or {
	color: #ce7927;
	letter-spacing: 0.1em;
}
#home .f_pu {
	color: #866598;
	letter-spacing: 0.1em;
}
#home .f_gre {
	color: #799f59;
	letter-spacing: 0.1em;
}
#home .f_re {
	color: #b6645b;
	letter-spacing: 0.1em;
}
#home .f_gra {
	color: #8D8D8D;
	font-size: 12px;
}
#home .help {
	background: rgba(255, 255, 255, 0.7);
	padding: 15px 20px;
	height: 170px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-bottom: 2px solid #c5c5c5;
}
#home .help a {
	display: block;
	padding: 10px;
	line-height: 1.7;
	letter-spacing: 0.1em;
	width: 285px;
	float: left;
}
#home .help a:hover {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
}
#home .help img {
	margin-right: 15px;
	float: left;
}
.help h3 {
	margin-bottom: 15px;
}
.hl1 {
	background-color: #ffefe0;
	margin-right: 20px;
	margin-bottom: 10px;
}
.hl1:hover {
	background-color: #FFE6CF;
}
.hl2 {
	background-color: #f4eef8;
	margin-bottom: 10px;
}
.hl2:hover {
	background-color: #EFDFFA;
}
.hl3 {
	background-color: #eff7e9;
	margin-right: 20px;
}
.hl3:hover {
	background-color: #DEF7CB;
}
.hl4 {
	background-color: #fdedeb;
}
.hl4:hover {
	background-color: #FFE1DD;
}
/*
option
*/

.option hr {
	margin-left: 5%;
	padding-left: 29px;
}
.category_choose h3, .option_choose h3 {
	font-size: 18px;
	color: #4E4E4E;
	letter-spacing: 0.1em;
}
.text_sub {
	margin-bottom: 40px;
	font-size: 12px;
	color: #7A7A7A;
	margin-top: 10px;
}
.category_choose .item {
	text-align: center;
	float: left;
	width: 200px;
	cursor: pointer;
	margin-bottom: 20px;
}
.category_choose .box {
	float: left;
	padding: 15px 25px 15px 20px;
	margin-bottom: 30px;
	background-color: #fff;
	margin-left: 45px;
	border-bottom: 2px solid #c5c5c5;
}
.item .goods_on:hover, .item .restaurant_on:hover, .item .company_on:hover, .item .restaurant_off:hover, .item .goods_off:hover, .item .company_off:hover {
	opacity: 0.7;
	filter: alpha(opacity=70);
	-ms-filter: “alpha( opacity=70 )”;
}
.description {
	color: #797979;
	margin-top: 10px;
	margin-bottom: 10px;
}
.category_choose, .option_choose {
	margin-left: 5%;
	padding-left: 29px;
	margin-bottom: 20px;
}
.item .goods_on, .item .restaurant_on, .item .company_on {
	width: 70px;
	height: 70px;
	border-radius: 50px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	margin: 0 auto;
	margin-bottom: 15px;
	cursor: pointer;
}
.category_choose .item .goods_on {
	background: url(/assets/img/app/spost/option/o_icon1_on.png), #1abc9c;
	background-repeat: no-repeat;
	background-position: 50%;
	border: 1px solid #1abc9c;
}
.category_choose .item .restaurant_on {
	background: url(/assets/img/app/spost/option/o_icon2_on.png), #eb625b;
	background-repeat: no-repeat;
	background-position: 50%;
	border: 1px solid #eb625b;
}
.category_choose .item .company_on {
	background: url(/assets/img/app/spost/option/o_icon3_on.png), #52b1d9;
	background-image/***/: url(/assets/img/app/spost/option/o_icon3_off.png)\9;/* IE8 */
	background-repeat: no-repeat;
	background-position: 50%;
	border: 1px solid #52b1d9;
}
.category_choose .box .goods_on {
	background: url(/assets/img/app/spost/option/o_icon1_on.png), #1abc9c;
	background-repeat: no-repeat;
	background-position: 50%;
	border: 1px solid #1abc9c;
	width: 70px;
	height: 70px;
	border-radius: 50px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
}
.category_choose .box .restaurant_on {
	background: url(/assets/img/app/spost/option/o_icon2_on.png), #eb625b;
	background-repeat: no-repeat;
	background-position: 50%;
	border: 1px solid #eb625b;
	width: 70px;
	height: 70px;
	border-radius: 50px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
}
.category_choose .box .company_on {
	background: url(/assets/img/app/spost/option/o_icon3_on.png), #52b1d9;
	background-image/***/: url(/assets/img/app/spost/option/o_icon3_off.png)\9;
	background-repeat: no-repeat;
	background-position: 50%;
	border: 1px solid #52b1d9;
	width: 70px;
	height: 70px;
	border-radius: 50px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
}
.category_choose .restaurant_off, .category_choose .goods_off, .category_choose .company_off {
	width: 70px;
	height: 70px;
	border-radius: 50px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border: 1px solid #757573;
	margin: 0 auto;
	margin-bottom: 15px;
	cursor: pointer;
}
.category_choose .goods_off {
	background: url(/assets/img/app/spost/option/o_icon1_off.png);
	background-repeat: no-repeat;
	background-position: 50%;
}
.category_choose .restaurant_off {
	background: url(/assets/img/app/spost/option/o_icon2_off.png);
	background-repeat: no-repeat;
	background-position: 50%;
}
.category_choose .company_off {
	background: url(/assets/img/app/spost/option/o_icon3_off.png);
	background-repeat: no-repeat;
	background-position: 50%;
}
.category_choose .box .box_fr {
	float: right;
	letter-spacing: 0.1em;
}
.category_choose .box .box_fr h4 {
	font-size: 20px;
	margin-top: 13px;
}
.option_choose .box {
	width: 350px;
	margin-bottom: 40px;
	float: left;
}
.option_choose .box_right {
	float: right;
	width: 190px;
	line-height: 1.8;
}
.option_choose .box_right p {
	color: #797979;
}
.option_choose .box img {
	vertical-align: middle;
	margin-left: 20px;
	cursor: pointer;
}
.option_choose .box img:hover {
	opacity: 0.9;
	filter: alpha(opacity=90);
	-ms-filter: “alpha( opacity=90 )”;
}
.inspect_text_box {
	background: #fff;
	padding: 20px;
	margin: 10px 5% 20px;
	line-height: 1.8;
	border-bottom: 2px solid #c5c5c5;
	color: #747474;
}
.inspect_item {
	margin-top: 30px;
	width: 340px;
	display: block;
}
.inspect_item_l_off {
	background-color: #dfdfdf;
	margin-right: 20px;
	display: inline-block;
	float: left;
	width: 77px;
	height: 77px;
}
.inspect_item_off {
	background: url(/assets/img/app/spost/inspect/inspect_1.png);
	padding-left: 25px;
	background-repeat: no-repeat;
	color: #4E4E4E;
}
.inspect_item_l_on {
	margin-right: 20px;
	display: inline-block;
	float: left;
	width: 77px;
	height: 77px;
}
.inspect_item_l_on img {
	margin: 0 auto;
}
.inspect_item_l_on img:hover {
	opacity: 0.8;
	filter: alpha(opacity=80);
	-ms-filter: “alpha( opacity=80 )”;
}
.i_icon1 {
	background-color: #FCC435;
}
.i_icon1 img, .i_icon1_off img {
	padding-top: 20px;
	padding-left: 19px;
}
.i_icon2 {
	background-color: #4dbbc2;
}
.i_icon2 img, .i_icon2_off img {
	padding-top: 21px;
	padding-left: 22px;
}
.i_icon3 {
	background-color: #9bc823;
}
.i_icon3 img, .i_icon3_off img {
	padding-top: 20px;
	padding-left: 21px;
}
.i_icon4 {
	background-color: #ec6a5f;
}
.i_icon4 img, .i_icon4_off img {
	padding-top: 20px;
	padding-left: 21px;
}
.i_icon5 {
	background-color: #9bc823;
}
.i_icon5 img, .i_icon5_off img {
	padding-top: 22px;
	padding-left: 17px;
}
.i_icon6 {
	background-color: #ec6a5f;
}
.i_icon6 img, .i_icon6_off img {
	padding-top: 20px;
	padding-left: 18px;
}
.i_icon7 {
	background-color: #ec6a5f;
}
.i_icon7 img, .i_icon7_off img {
	padding-top: 22px;
	padding-left: 21px;
}
.i_icon14 {
	background-color: #b895c3;
}
.i_icon14 img, .i_icon14_off img {
	padding-top: 20px;
	padding-left: 20px;
}
.inspect_item_on {
	background: url(/assets/img/app/spost/inspect/inspect_2.png);
	padding-left: 25px;
	background-repeat: no-repeat;
	color: #4E4E4E;
}
.inspect_item_r {
	display: inline-block;
	line-height: 1.8;
	float: left;
	color: #6F6F6F;
}
.inspect_item_r h5 {
	font-size: 18px;
	color: #4E4E4E;
}
.clearfix {
	clear: both;
}
.inspect_item_wrap {
	display: block;
	margin-left: 5%;
	margin-right: 5%;
	min-height: 350px;
}
.blue_btn {
	margin: 0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background: #FFFFFF;
	margin-right: 5px;
	padding: 5px 10px 5px 10px;
	color: #F0F0F0;
	border: 1px solid #DBDBDB;
	border-bottom: 2px solid #c5c5c5;
	font-weight: bold;
	text-decoration: none;
	display: inline-block;
	background-color: #394859;
	background-image: -moz-linear-gradient(#89BD1A, #7EAC16);
	background-image: -webkit-linear-gradient(#89BD1A, #7EAC16);
	background-image: linear-gradient(#89BD1A, #7EAC16);
	line-height: 1.4;
}
.back_btn {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background: #FFFFFF;
	margin-right: 5px;
	padding: 9px 10px;
	color: #7A7A7A;
	border: 1px solid #DBDBDB;
	border-bottom: 2px solid #c5c5c5;
	font-weight: bold;
	text-decoration: none;
	display: inline-block;
}
.glayout_btn {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background: #C9C9C9;
	margin-right: 5px;
	padding: 9px 10px;
	color: #969696;
	border: 1px solid #DBDBDB;
	border-bottom: 2px solid #c5c5c5;
	font-weight: bold;
	text-decoration: none;
	display: inline-block;
}
.btn_box {
	margin: 0 auto;
	display: inline-block;
	margin-left: 42%;
	margin-top: 20px;
}
.spost_table {
	margin-left: 5%;
	width: 100%;
	background-color: #fff;
	margin-top: 40px;
	border: 1px solid #ddd;
	margin-bottom: 5%;
}
.spost_table th {
	vertical-align: bottom;
	padding: 10px;
	font-weight: bold;
}
.spost_table tr:nth-child(2n) {
	background-color: #E6E6E6;
}
.spost_table>tbody>tr>td, .spost_table>tbody>tr>th, .spost_table>tfoot>tr>td, .spost_table>tfoot>tr>th, .spost_table>thead>tr>td, .spost_table>thead>tr>th {
	padding: 10px;
	line-height: 1.42857;
	vertical-align: middle;
	border-top: 1px solid #ddd;
	text-align: left;
	max-width: 300px;
}
