{include "common/header.tpl"}

{include "common/header_meta/store.tpl"}

<div class="contents_box">
  <div class="contents_box_head">TEL/MAIL</div>
  <h4>アプリ内のスライドメニュー内のTEL/MAILボタンに埋め込む情報を編集できます</h4>
  <div class="contents_form">
    <ul>
      <li>
        <span class="ml_30">更新が完了しました</span>
      </li>
    </ul>

    <hr />

    <a href="/store" id="save_btn" class="back_btn ml_30">戻る</a>
  </div>
</div>

<div class="last_margin"></div>

{include "common/footer.tpl"}
