<!-- フッタ -->
<div id="p_footer_webview_wrap">
  <ul>
    <li><a href="javascript:history.back();" id="back"><img src="/assets/preview/img/web/back.png" width="16" height="16" /></a></li>

    <li><a href="javascript:history.forward();" id="forward"><img src="/assets/preview/img/web/forward.png" width="16" height="16" /></a></li>

    <li><a href="javascript:location.reload();" id="reload"><img src="/assets/preview/img/web/reload.png" width="16" height="16" /></a></li>

    <li><a href="/preview/top" id="close"><img src="/assets/preview/img/web/close.png" width="50" height="30" /></a></li>
  </ul>
</div>
<!--  -->

  </div>
</div>
</body>
</html>