<!-- フッタ -->
<div id="p_footer_wrap">
  <ul>
    <li {if $current=='top'}class="current"{/if}><a href="/preview/top"><img src="/assets/preview/img/tabIcon/ipost_icon1.png" width="16" height="16" alt="タブアイコン画像" /><span>TOP</span></a></li>
    <li {if $current=='coupon'}class="current"{/if}><a href="/preview/coupon"><img src="/assets/preview/img/tabIcon/ipost_icon2.png" width="16" height="16" alt="タブアイコン画像" /><span>COUPON</span></a></li>
    <li {if $current=='news'}class="current"{/if}><a href="/preview/news"><img src="/assets/preview/img/tabIcon/ipost_icon3.png" width="16" height="16" alt="タブアイコン画像" /><span>NEWS</span></a></li>
    <li {if $current=='menu'}class="current"{/if}><a href="/preview/menu"><img src="/assets/preview/img/tabIcon/ipost_icon4.png" width="16" height="16" alt="タブアイコン画像" /><span>MENU</span></a></li>
    <li {if $current=='setting'}class="current"{/if}><a href="/preview/setting"><img src="/assets/preview/img/tabIcon/ipost_icon5.png" width="16" height="16" alt="タブアイコン画像" /><span>INFO</span></a></li>
  </ul>
</div>
<!--  -->

  </div>
</div>
</body>
</html>