@CHARSET "Shift_JIS";

.contents_form_or label {
float: left;
display: block;
text-align: right;
line-height: 30px;
font-weight: bold;
margin-right: 30px;
margin-left: 20px;
}

.last_margin_or{
height: 30px;
width: auto;
margin-bottom: 20px;
}

div.scroll {
height: 430px;
background-color:#f5f5f5; 
overflow:auto;
width: 255px;
}

#policy {
padding: 20px 10px;
float: right;
}
#policy_doui {
padding-top: 10px;
float: right;
margin-right: 40px;
font-size: 12px;
color: #7A7A7A;
}

div.split_right{
width: 372px;
float: left;
margin-left: 10px;
}

.contents_box_or {
margin: 0 auto;
width: 700px;
height: 200px;
border-radius: 3px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
background: #fff;
border-bottom: 2px solid #c5c5c5;
margin-right: 5%;
border-top: 1px solid #EBEBEB;
border-right: 1px solid #EBEBEB;
border-left: 1px solid #EBEBEB;
margin-top: 20px;
min-width: 350px;
}

.contents_box.original {
width: 692px;
padding-bottom: 20px;
}

input#title.original,
textarea#body.original {
margin-left: 20px;
width: 300px;
}
p.ml_370{
margin-left:370px;
}

p.ml_600{
margin-left:600px;
}

div#policy.scroll.original{
margin-right: 30px;
margin-top: 57px;
border: 1px solid #808080;
line-height: 1.4;
color: #616161;
}

div.border{
margin:0 auto;
padding: 30px 5px 10px 5px;
width:400px;
font-weight:bold;
}
div.border_bo{
margin:0 auto;
padding: 30px 5px 10px 5px;
width:400px;
padding-bottom:20px;
font-weight:bold;
}

.border span, .border_bo span{
width:400px;
font-weight:normal;
}

p.ml_350mb_20{
margin-bottom:20px;
margin-left: 95px;
}

.contact_btn{
margin-left: 305px;
margin-top: 10px;
}

.contact_error{
margin: -10px 0 20px 20px;
color: #b00;
font-weight: bold;
}
.contact_back_btn{
padding: 7px 10px 8px 10px;
}
.original hr{
margin: 0 auto;
width: 450px;
margin-top: 0px;
margin-bottom: 10px;
}