{include "common/header.tpl"}


{include "common/header_meta/shop.tpl"}


<!-- お店の画像変更 -->
<div class="contents_box">
  <div class="contents_box_head">お店の情報・写真の変更</div>
  <h4>お店の画像</h4>

  <form action="/top/topic/update" method="POST">

<div class="contents_form">
  <ul>
    <li>
      <span class="ml_30">お店の画像変更が完了しました</span>
    </li>
  </ul>

  <hr />

  <a href="/shop" id="save_btn" class="back_btn ml_30">戻る</a>
</div>

  </form>
</div>
<!---->


<div class="last_margin"></div>


{include "common/footer.tpl"}
