<!-- コンテンツヘッダ -->
<div id="title_wrap" class="info">
  <div id="title_bar" class="info_color"></div>

  <div id="title_box">
    <h2>{__('header.title')}</h2>
    <p id="title_sub">{__('header.sub')}</p>
  </div>

  <div id="help_pre_box">
    <p><a href="/assets/pdf/manual/ipost_manual.pdf" id="pre_btn" target="_blank" class="tooltip" title="使い方ガイドの PDF ファイルが閲覧できます。<br />PDF ファイルですので容量にご注意下さい！">{__('page.guide')}</a></p>
    <!-- <p><a href="#" id="pre_btn" target="_blank">使い方ガイド</a> | <a href="http://hiropro.co.jp/ipost_admin/help.php" id="help_btn" target="_blank">ヘルプ</a></p> -->
  </div>
</div>
<!---->
