/*****リセット******/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin: 0;padding: 0;border: 0;outline: 0;font-size: 100%;vertical-align: baseline;background: transparent;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {content: '';content: none;}
/* remember to define focus styles! */
:focus {outline: 0;}
/* remember to highlight inserts somehow! */
ins {text-decoration: none;}
del {text-decoration: line-through;}
/* tables still need 'cellspacing=&quot;0&quot;' in the markup */
table {border-collapse: collapse;border-spacing: 0;}
input[type="submit"] {-webkit-appearance: none;}
/**************/
.clear{clear:both;}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix { display: inline-table; }
/* Hides from IE-mac \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* End hide from IE-mac */
.mt_m5{margin-top:-5px;}.mt_m10{margin-top:-10px;}.mt_m20{margin-top:-20px;}.mt_m30{margin-top:-30px;}.mt_m40{margin-top:-40px;}
.mt_0{margin-top:0px;}.mb_0{margin-bottom:0px;}.mr_0{margin-right:0px;}.ml_0{margin-left:0px;}
.mt_3{margin-top:3px;}.mb_3{margin-bottom:3px;}.mr_3{margin-right:3px;}.ml_3{margin-left:3px;}
.mt_5{margin-top:5px;}.mb_5{margin-bottom:5px;}.mr_5{margin-right:5px;}.ml_5{margin-left:5px;}
.mt_7{margin-top:7px;}.mb_7{margin-bottom:7px;}.mr_7{margin-right:7px;}.ml_7{margin-left:7px;}
.mt_10{margin-top:10px;}.mb_10{margin-bottom:10px;}.mr_10{margin-right:10px;}.ml_10{margin-left:10px;}
.mt_15{margin-top:15px;}.mb_15{margin-bottom:15px;}.mr_15{margin-right:15px;}.ml_15{margin-left:15px;}
.mt_20{margin-top:20px;}.mb_20{margin-bottom:20px;}.mr_20{margin-right:20px;}.ml_20{margin-left:20px;}
.mt_30{margin-top:30px;}.mb_30{margin-bottom:30px;}.mr_30{margin-right:30px;}.ml_30{margin-left:30px;}
.mt_40{margin-top:40px;}.mb_40{margin-bottom:40px;}.mr_40{margin-right:40px;}.ml_40{margin-left:40px;}
.mt_50{margin-top:50px;}.mb_50{margin-bottom:50px;}.mr_50{margin-right:50px;}.ml_50{margin-left:50px;}
.mt_60{margin-top:60px;}.mb_60{margin-bottom:60px;}.mr_60{margin-right:60px;}.ml_60{margin-left:60px;}
.mt_80{margin-top:80px;}.mb_80{margin-bottom:80px;}.mr_80{margin-right:80px;}.ml_80{margin-left:80px;}
.mt_100{margin-top:100px;}.mb_100{margin-bottom:100px;}.mr_100{margin-right:100px;}.ml_100{margin-left:100px;}
.pt_5{padding-top:5px;}.pb_5{padding-bottom:5px;}.pr_5{padding-right:5px;}.pl_5{padding-right:5px;}
.pt_10{padding-top:10px;}.pb_10{padding-bottom:10px;}.pr_10{padding-right:10px;}.pl_10{padding-left:10px;}
.pt_10{padding-top:10px;}.pb_10{padding-bottom:10px;}.pr_10{padding-right:15px;}.pl_10{padding-left:15px;}
.pt_20{padding-top:20px;}.pb_20{padding-bottom:20px;}.pr_20{padding-right:20px;}.pl_20{padding-left:20px;}
.fl{float:left;}.fr{float:right;}
.fw_b{font-weight:bold;}.fw_n{font-weight:normal;}
.ta_c{text-align:center;}.ta_l{text-align:left;}.ta_r{text-align:right;}
.db{display: block;}.dn{display: none;}.di{display: inline-block;}
* {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;-o-box-sizing: border-box;-ms-box-sizing:border-box;box-sizing: border-box;}
a:hover {font-style: normal;text-decoration: none;}
a:visited {text-decoration: none;}
a:link {text-decoration: none;}
a {font-style: normal;text-decoration: none;}

/*
以下、キャンペーンページ
*/
#zero_camp_page{
margin: 0 auto;
width: 690px;
}
#zero_camp_page p{
color: #6B6B6B;
font-size: 15px;
margin-left: 208px;
line-height:1.5;
}
#zero_camp_page p span{
color:#fb9629;
font-weight:bold;
}

.zero_camp_img_1{
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
margin-top: 30px;
}
.zero_camp_btn{
display:inline-block;
width:572px;
height:100px;
background-image:url("/assets/img/common/lp/cp1/camp_img_5.png");
text-indent:-9999px;
margin-left:60px;
}
.zero_camp_btn:hover{
background-position:left bottom;
}

.zero_camp_box{
padding: 30px;
line-height: 1.5;
}

.zero_camp_box dl{
margin: 20px 20px;
width: 350px;
padding: 20px;
border: 3px solid #DFDFDF;
border-radius: 5px;
-moz-border-radius: 10px;
-webkit-border-radius: 5px;
line-height: 1.8;
}
.zero_camp_box dt{
display: inline-block;
width: 100px;
font-weight:bold;
}
.zero_camp_box dd{
display: inline-block;
width: 200px;
}
#zero_camp_caution{
width: 100%;
min-height: 0px;
margin-bottom: 0px;
padding: 0px;
font-weight:bold;
color: #ff9000;
}