@charset "utf-8";
/* CSS Document */

/*
error
*/
#contents_error {
width: auto;
background-color: #f5f5f0;
min-height: 650px;
}

#title_bar_error{
float: left;
border-bottom-left-radius: 2px;
border-bottom-right-radius: 2px;
background: #408ACE;
width: 8px;
height: 59px;
}
#error_text{
margin-left: 20px;
padding-bottom: 20px;
line-height: 1.5;
margin-right: 20px;
}
.content_box_error{
margin: 0 auto;
height: auto;
border-radius: 3px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
background: #fff;
border-bottom: 2px solid #c5c5c5;
margin-left: 10%;
margin-right: 10%;
border-top: 1px solid #EBEBEB;
border-right: 1px solid #EBEBEB;
border-left: 1px solid #EBEBEB;
}
.content_box_error h4{
font-size: 16px;
margin: 20px;
color: #408ACE;
}
#title_wrap_error {
height: 82px;
margin-left: 10%;
margin-right: 10%;
min-width: 350px;
}
.goback_btn{
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
background: #FFFFFF;
color: #7A7A7A;
border: 1px solid #DBDBDB;
border-bottom: 2px solid #c5c5c5;
font-weight: bold;
display: inline-block;
padding: 5px 10px;
margin-right: 30px;
margin-bottom: 20px;
margin-left: 20px;
text-decoration: none;
}
.goback_btn:hover {
Add a comment to this line
-webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
filter: brightness(90%);
-webkit-filter: brightness(90%);
}