@charset "utf-8";
/* CSS Document */
/*****リセット******/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin: 0;padding: 0;border: 0;outline: 0;font-size: 100%;vertical-align: baseline;background: transparent;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {content: '';content: none;}
/* remember to define focus styles! */
:focus {outline: 0;}
/* remember to highlight inserts somehow! */
ins {text-decoration: none;}
del {text-decoration: line-through;}
/* tables still need 'cellspacing=&quot;0&quot;' in the markup */
table {border-collapse: collapse;border-spacing: 0;}
input[type="submit"] {-webkit-appearance: none;}
/**************/
.clear{clear:both;}
.clearfix:after {  
  content: ".";   
  display: block;   
  height: 0;   
  clear: both;   
  visibility: hidden;  
}  
.clearfix { display: inline-table; }  
/* Hides from IE-mac \*/  
* html .clearfix { height: 1%; }  
.clearfix { display: block; }  
/* End hide from IE-mac */  
.mt_10{margin-top:10px;}.mb_10{margin-bottom:10px;}.mr_10{margin-right:10px;}.ml_10{margin-left:10px;}
.mt_15{margin-top:15px;}.mb_15{margin-bottom:15px;}.mr_15{margin-right:15px;}.ml_15{margin-left:15px;}
.mt_20{margin-top:20px;}.mb_20{margin-bottom:20px;}.mr_20{margin-right:20px;}.ml_20{margin-left:20px;}
.mt_30{margin-top:30px;}.mb_30{margin-bottom:30px;}.mr_30{margin-right:30px;}.ml_30{margin-left:30px;}
.mt_40{margin-top:40px;}.mb_40{margin-bottom:40px;}.mr_40{margin-right:40px;}.ml_40{margin-left:40px;}
.fl{float:left;}.fr{float:right;}
.fw_b{font-weight:bold;}.fw_n{font-weight:normal;}
.ta_c{text-align:center;}.ta_l{text-align:left;}.ta_r{text-align:right;}
.db{display: block;}.dn{display: none;}.di{display: inline-block;}
* {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;-o-box-sizing: border-box;-ms-box-sizing:border-box;box-sizing: border-box;}

body {
	background-color: #f5f5f0;
}
#flow_container {
	margin: 0 auto;
	width: 720px;
	border: 1px solid #ddd;
	padding-left: 50px;
	margin-top: 30px;
	margin-bottom: 50px;
	border-radius: 7px;
	background-color: #fff;
	letter-spacing: 0.1em;
}
#flow_container a {
	color: #008cb4;
	font-style: normal;
	text-decoration: none;
}
#flow_container a:link {
	color: #008cb4;
	text-decoration: none;
}
#flow_container a:visited {
	color: #008cb4;
	text-decoration: none;
}
#flow_container a:hover {
	color: #005580;
	text-decoration: underline;
}
#flow_container a:active {
	color: #008cb4;
	text-decoration: underline;
}
#flow_title {
	margin: 45px 0px 50px 78px;
}
.flow_text {
	font-size: 13px;
	color: #454545;
	margin-left: 20px;
	margin-top: 10px;
	line-height: 1.8;
}
.flow_text_small {
	font-size: 11px;
	color: #454545;
	margin-left: 150px;
	margin-top: 10px;
	line-height: 1.5;
}
#flow_container li {
	background: url(img/flow_dot.png);
	background-repeat: repeat-y;
	background-position: 64px;
	display: block;
	clear: both;
	height: 324px;
	padding-bottom: 30px;
}
#flow_container ul li:nth-child(1) {
	height: 120px;
}
#flow_container ul li:nth-child(3), #flow_container ul li:nth-child(4) {
	height: 370px;
}
#flow_container ul li:nth-child(6){
	height: 160px;
}
#flow_container ul li:last-child {
	background: none;
	padding-bottom: 0px;
}
.flow_img {
	margin: 30px 0px 0px 150px;
	float: left;
}
.flow_balloon {
	background: url(img/flow_balloon.png);
	background-repeat: no-repeat;
	font-size: 11px;
	color: #6B6B6B;
	line-height: 1.5;
	width: 200px;
	height: 100px;
	float: left;
	margin: 60px 0px 0px 25px;
	padding: 24px 0px 24px 40px;
}
.f_b_4{
padding: 24px 0px 24px 37px;
}
.f_b_5{	
padding: 17px 0px 24px 47px;
}