@charset "utf-8";
/* CSS Document */

/*.main_box_l{
float:left;
max-width: 320px;
width: 32%;
}*/

body {
  color: #5d5d5d;
  font-family: "ＭＳ Ｐゴシック", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリ オ", "Meiryo", Osaka, verdana, arial, clean, sans-serif;
  font: 13px/1.5 arial, helvetica, clean, sans-serif;
}
ol, ul {
  list-style: none;
}

.win input[type="text"], .win input[type="password"], .win textarea, .win select {
  font-size: 14px;
  color: #333;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: #f3f1f1;
  box-shadow: inset 1px 1px 1px hsla(0,0%,0%,0.35), 0 1px 0 hsla(0,0%,100%,0.55);
  border-radius: 4px;
  border: 1px solid #ccc;
}
.mac input[type="text"], .mac input[type="password"], .mac textarea, .mac select {
  font-size: 14px;
  color: #333;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: #f3f1f1;
  box-shadow: inset 2px 2px 1px hsla(0,0%,0%,0.35), 0 1px 0 hsla(0,0%,100%,0.55);
  border-radius: 4px;
  border: 1px solid #ccc;
}
.help_view_wrap, .form_wrap {
  clear: both;
  float: none;
  margin: 0 auto;
  margin-top: 15px;
  display: block;
  border: 1px solid #EBEBEB;
  background: #FFF;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1), inset 0px 1px 1px 0px #ffffff;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1), inset 0px 1px 1px 0px #ffffff;
  -moz-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1), inset 0px 1px 1px 0px #ffffff;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  overflow: hidden;
  padding-top: 10px;
  padding-bottom: 17px;
}
.help_view_wrap {
  padding-left: 3%;
  padding-right: 3%;
}
.nav {
  overflow: hidden;
  border: solid 1px #ccc;
  border-radius: 3px;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.1), inset 0px 1px 1px 0px #ffffff;
  margin-top: 14px;
}
.nav li {
  border-top: solid 1px #cacaca;
  margin-top: -1px;
}
.nav li a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px;
  text-decoration: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-color: #fff;
  background: url(../../../../images/user/arrow_basic_s.png), -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ebebeb));
  background-repeat: no-repeat;
  background-position: 94% center;
  padding-left: 20px;
  color: #4b4b4b;
  padding-right: 30px;
}
/* yoshitaka 2013-04-16
Select Style */
.nav li.dis a {
  color: #fccf49;
  background: url(../../../../images/user/arrow_basic_s.png), -webkit-gradient(linear, left top, left bottom, from(#393838), to(#1f1e1e));
  background-repeat: no-repeat;
  background-position: 94% center;
}
/* Select Style END */

.nav li a:hover {
  opacity: 0.8;
  filter: alpha(opacity=80);
  -ms-filter: “alpha( opacity=80 )”;
}
.nav ul {
  padding: 0px;
  margin-top: 0;
  margin-bottom: 0;
}

.nav #carrent {
background: #0D8DBB;
color: #fff;
}
/*
右カラム
*/
#main_box_r {
  width: 94%;
  margin-top: 0px;
  display: block;
  margin: 0 auto;
  background-color: #f5f5f0;
}
.Qes, .Ans {
  font-size: 13px;
  color: #4b4b4b;
  line-height: 1.5;
}
.Qes {
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 10px;
}
.Ans {
  padding: 20px 10px;
  background: #f0f0f0;
}
.help_view_wrap hr {
  height: 0;
  border: 0;
  margin: 0 auto;
  border-top: 1px solid #D1D1D1;
  border-bottom: 1px solid #fff;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}
.box h3 {
  margin-bottom: 23px;
  margin-top: 30px;
  border-bottom: solid 2px #0D8DBB;
  padding-bottom: 7px;
  color: #4b4b4b;
}
/*
コンタクト
*/

#left_contact_box {
  margin-right: 44px;
  margin-bottom: 20px;
}
/*
ヘルプ
*/
#topicpath {
  margin: 10px 0;
  padding-right: 0px;
  padding-left: 3px;
  color: #4b4b4b;
}
#topicpath li {
  display: inline;
  line-height: 110%;
  list-style-type: none;
}
#topicpath li a {
  color: #0D8DBB;
  padding-right: 10px;
  background: url(../../../images/index/topicpath_icon.gif) no-repeat right center;
  text-decoration: none;
}
#topicpath a:hover {
  text-decoration: underline;
}
#topicpath a:visited {
  text-decoration: none;
}
#main_box_r a {
  color: #0D8DBB;
  text-decoration: none;
  margin-top: 15px;
}

#to_top{
float: right;
margin-bottom: 30px;
}

#main_box_r a:hover {
  text-decoration: underline;
}
#main_box_r a:visited {
  text-decoration: none;
}
.main_box_l {
  margin-bottom: 40px;
}

.main_box_l {
  float: left;
  max-width: 320px;
  width: 32%;
  margin-top: 15px;
}
#main_box_r {
  width: 66%;
  margin-top: 0px;
  float: right;
  max-width: 640px;
  display: block;
  margin: 0 auto;
  background-color: #f5f5f0;
}
.help_view_wrap {
  padding-left: 20px;
  padding-right: 20px;
}

/* yoshitaka 2013-04-29
Privacy Style */
.privacy.box {
  margin: 20px 0 0;
  border: solid 1px #aaa;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1), inset 0px 1px 1px 0px #ffffff;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1), inset 0px 1px 1px 0px #ffffff;
  -moz-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1), inset 0px 1px 1px 0px #ffffff;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
.privacy p {
  margin: 20px;
  background: #FFF;
}
.support_window_r {
  float: right;
  width: 16em;
}
.support_window {
  clear: both;
  margin: 10px;
}

.gridContainer {
  max-width: 960px;
  min-width: 700px;
  padding: 0;
  margin: auto;
  background-color: #f5f5f0;
}
.gridContainer th {
  width: 100px;/*14%*/
  height: auto;
  color: #9c1b20;
  vertical-align: baseline;
  text-align: left;
}
.gridContainer th img {
  margin-left: 2%;
  vertical-align: baseline;
}
.gridContainer td {
  margin: 0 auto;
  width: 800px;/*86%*/
  height: auto;
  color: #fc8826;
  vertical-align: baseline;
}
#LayoutDiv1 {
  clear: both;
  float: left;
  margin-left: 0;
  width: 100%;
  display: block;
}
.box h3 {
  margin-bottom: 23px;
  margin-top: 30px;
  border-bottom: solid 2px #0D8DBB;
  padding-bottom: 7px;
  color: #4b4b4b;
}
.nav #carrent {
  background: #0D8DBB;
  color: #fff;
}
#pan{
min-width: 700px!important;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-o-box-sizing: border-box;
-ms-box-sizing: border-box;
box-sizing: border-box;
}
#head, #line_1 {
min-width: 700px!important;
}
.gridContainer{
padding-left: 20px;
padding-right: 20px;
min-width: 700px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-o-box-sizing: border-box;
-ms-box-sizing: border-box;
box-sizing: border-box;
}