@charset "utf-8";
/* CSS Document */


#title_wrap.info {
width: 780px;
margin: 20px auto;
}

.reason {
padding-bottom: 20;
background-color: #F8F8F8;
border: 1px solid LightGray;
border-radius: 4px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
margin: 0 auto;
padding: 20px;
margin-bottom: 30px;
width:85%;
line-height:1.5;
}

.reject {
width:780px;
margin: 0 auto;
background-color: white;
border: 10px solid LightGray;
margin-bottom:20px;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
box-shadow: 1px 1px 6px gray;
-moz-box-shadow: 1px 1px 6px gray;
-webkit-box-shadow: 1px 1px 6px gray;
}
.reject_title {
text-align: left;
margin-left: 38px;
margin-top: 25px;
margin-bottom: 20px;
padding-left: 10px;
padding-top: 5px;
padding-bottom: 5px;
font-weight: bold;
letter-spacing: 0.1em;
border-left: 6px solid rgb(36, 147, 199);
font-size: 15px;
}

.reject_date {
font-weight: bold;
margin-bottom: 10px;
margin-left: 40px;
}

#reject_head {
width: 100%;
min-width: 600px;
height: 70px;
}

#reject_logo{
	width:100px;
	margin-top:10px;
}

#reject_logo_wrap {
margin: 0 auto;
width: 834px;
padding-left: 35px;
}


#reject_head #logout_btn {
position: relative;
display: inline-block;
padding: 5px 10px;
font-size: 12px;
font-weight: bold;
color: #454545;
text-shadow: 0 1px 0 rgba(255,255,255,0.9);
white-space: nowrap;
background-color: #eaeaea;
background-image: -moz-linear-gradient(#fafafa, #eaeaea);
background-image: -webkit-linear-gradient(#fafafa, #eaeaea);
background-image: linear-gradient(#fafafa, #eaeaea);
background-repeat: repeat-x;
border-radius: 3px;
box-shadow: 0 1px 3px rgba(0,0,0,0.05);
vertical-align: middle;
cursor: pointer;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
-webkit-appearance: none;
line-height: 1.4;
border-bottom: 2px solid #c5c5c5;
float: right;
margin-right: 40px;
margin-top: -30px;
}


#reject_head #logout_btn:hover{
background-color: #fafafa;
background-image: -moz-linear-gradient(#fafafa);
background-image: -webkit-linear-gradient(#fafafa);
background-image: linear-gradient(#fafafa);
-webkit-transition: all 0.2s ease;
-moz-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
filter: brightness(90%);
-webkit-filter: brightness(98%);
}
