@charset "utf-8";
/* CSS Document */


/*****リセット******/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing=&quot;0&quot;' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/**************/


.clear{
clear:both;
}


a{/*リンクされた文字*/
    font-style:normal;
    text-decoration:none;
}
a:link {/*未訪問のリンク*/
    text-decoration:none;
}
a:visited {/*訪問後のリンク*/
    text-decoration:none;
}
a:hover {/*マウスをのせたとき*/
    font-style:normal;
    text-decoration:none;
}
a:active {/*クリック中*/
    text-decoration:none;
}

body{
font-family: "メイリオ", Meiryo, "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "ＭＳ Ｐゴシック", "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
font-size:13px;
color:#454545;
background-color: #f5f5f0;
}
/*-------------------------------------- ヘッダー ---------------------------------------------------------------*/
#manual_head{
	background-image:url(/assets/img/common/manual/box_head.jpg);
	font-size:18px;
	color:white;
	width:100%;
}
#manual_head h2{
	padding:30px;
	text-shadow: 1px 1px 0px #000 inset;
}
.manual_title{
	width:350px;
	margin:30px;
}
.close{
	width:150px;
	float:right;
	margin-top:30px;
}
.close:hover{
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	opacity:0.9;
	filter:alpha(opacity=90);
	-ms-filter: “alpha( opacity=90 )”;
}
/*-------------------------------------- フッター ---------------------------------------------------------------*/
#foot {
	color: #818181;
	font-size: 12px;
	background-color: #f5f5f0;
	text-align:center;
}
#foot hr {
	height: 0;
	border: 0;
	border-top: 1px solid #d2d2d2;
	border-bottom: 1px solid #ffffff;
	width: 100%;
	margin: 0;
}
#foot p {
	height: 80px;
	margin-top: 30px;
}
#foot a:link{
	color:#008cb4;
}
#foot a:visited {
	text-decoration: none;
}
#foot a:hover {
	color: #005580;
	text-decoration: underline;
}
/*-------------------------------------- 使いまわすcss ---------------------------------------------------------------*/
.km{
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-ms-border-radius:5px;
	-o-border-radius:5px;
}
.km10{
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-ms-border-radius:10px;
	-o-border-radius:10px;
}
.line{
	border-top:2px dashed rgb(60,152,197);
	border-bottom:none;
	margin:30px 0;
}
.clear{
	clear:both;
}
ul{
	margin-left:30px;
	margin-top:15px;
}
ul li{
	list-style-image:url(/assets/img/common/manual/list_style.png);
	padding:10px;
}
a:link{
	color:#444;
	text-decoration:none;
}
a:visited{
	color:#444;
	text-decoration:none;
}
.re_btn {
	width: 130px;
	margin-left: 670px;
	margin-top: 15px;
}
.mo:hover{
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	opacity:0.9;
	filter:alpha(opacity=90);
	-ms-filter: “alpha( opacity=90 )”;
	box-shadow:2px 2px 20px #3CF;
	-moz-box-shadow:2px 2px 20px #3CF;
	-webkit-box-shadow:2px 2px 20px #3CF;
	-ms-box-shadow:2px 2px 20px #3CF;
	-o-box-shadow:2px 2px 20px #3CF;
	cursor:pointer;
}

/*-------------------------------------- メニュー ---------------------------------------------------------------*/
.menu_box {
	border: 5px solid rgb(60,152,197);
	width: 300px;
	margin: 30px;
	padding: 15px;
	height:280px;
	float:left;
}
.menu_title{
	width:180px;
}
.menu_line{
	border-top:2px dashed rgb(60,152,197);
	border-bottom:none;
}
.menu li:hover{
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	opacity:0.7;
	filter:alpha(opacity=70);
	-ms-filter: “alpha( opacity=70 )”;
	margin-left:1px;
}
/*-------------------------------------- メイン ---------------------------------------------------------------*/
.main_width {
	width: 800px;
	margin: auto;
	border: 10px solid lightgray;
	background-color: white;
	margin-top:45px;
	margin-bottom:45px;
	padding:30px;
	box-shadow: 1px 1px 8px gray;
	-moz-box-shadow: 1px 1px 8px gray;
	-webkit-box-shadow: 1px 1px 8px gray;
}



/*-------------------------------------- ぴょこんとでてくるTOP画像 ---------------------------------------------------------------*/
#page-top {
    position:fixed;
    bottom: 20px;
    right: 20px;
}
#page-top a {
    background:url(/assets/img/common/manual/up.png) no-repeat;
    width: 80px;
	height: 100px;
    display: block;
    text-indent:-9999px;
}
#page-top a:hover {
    opacity:0.7;
    filter:alpha(opacity=70);
}
/*-------------------------------------- PDF ---------------------------------------------------------------*/
.pdf{
	width: 300px;
	margin: 30px;
	padding: 15px;
	height: 280px;
	float: left;
}
.pdf hr {
	border: 1px solid rgb(60,152,197);
	margin-top: 5px;
	margin-bottom: 5px;
}
.pdf_title {
	width: 300px;
	margin-bottom: 10px;
	margin-top: -10px;
}

.pdf ul li{
	list-style-image:url(/assets/img/common/manual/blue_arrow.png);
	letter-spacing:0.1em;
}
.pdf ul li:hover{
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	opacity:0.7;
	filter:alpha(opacity=70);
	-ms-filter: “alpha( opacity=70 )”;
	margin-left:1px;
	cursor:pointer;
}


/*-------------------------------------- indexのphone ---------------------------------------------------------------*/
.phone {
	width: 1000px;
	background: linear-gradient(rgb(49,49,49),rgb(39,39,39),rgb(20,20,20));
	background: -webkit-linear-gradient(rgb(49,49,49),rgb(39,39,39),rgb(20,20,20));
	background: -moz-linear-gradient(top,rgb(49,49,49),rgb(39,39,39),rgb(20,20,20));
	margin: auto;
	height: 1400px;
	padding-top: 30px;
	margin-top: 30px;
	border-radius:50px;
	-moz-border-radius:50px;
	-webkit-border-radius:50px;
	-ms-border-radius:50px;
	-o-border-radius:50px;
	margin-bottom:50px;
	box-shadow: 1px 1px 10px gray;
	-moz-box-shadow: 1px 1px 10px gray;
	-webkit-box-shadow: 1px 1px 10px gray;
}
.phone_btn{
	margin-left:450px;
}