@charset "utf-8";
/* CSS Document */


/*
ニュース
*/
.news_table img {
	float: left;
}
#table_text {
	text-align: left;
	font-size: 13px;
	min-height: 70px;
	padding-left: 220px;
	line-height: 1.4;
	margin-top: 20px;
	margin-right: 20px;
}
#table_text a {
	font-weight: bold;
}
#upload {
	margin-left: 178px;
	margin-top: 10px;
	margin-bottom: 20px;
	display: block;
}
.gray_btn {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background: #FFFFFF;
	padding: 5px 10px;
	color: #7A7A7A;
	border: 1px solid #DBDBDB;
	border-bottom: 2px solid #c5c5c5;
	font-weight: bold;
	text-decoration: none;
	float: left;
	line-height: 1.4;
	height: 16px;
}
.blue_btn:hover {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	filter: brightness(90%);
	-webkit-filter: brightness(90%);
	cursor: pointer;
}
.blue_btn {
	margin: 0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background: #FFFFFF;
	margin-right: 5px;
	padding: 5px 10px 5px 10px;
	color: #F0F0F0;
	border: 1px solid #DBDBDB;
	border-bottom: 2px solid #c5c5c5;
	font-weight: bold;
	text-decoration: none;
	display: inline-block;
	background-color: #394859;
	background-image: -moz-linear-gradient(#89BD1A, #7EAC16);
	background-image: -webkit-linear-gradient(#89BD1A, #7EAC16);
	background-image: linear-gradient(#89BD1A, #7EAC16);
	line-height: 1.4;
}
#save_btn {
	margin-left: 130px;
}
.blue_btn:hover, .gray_btn:hover {
	background-color: #fafafa;
	background-image: -moz-linear-gradient(#fafafa);
	background-image: -webkit-linear-gradient(#fafafa);
	background-image: linear-gradient(#fafafa);
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	filter: brightness(90%);
	-webkit-filter: brightness(90%);
}
.contents_form hr {
	margin: 0;
	border: 1px dotted #c5c5c5;
	border-bottom: none;
	margin-top: 20px;
	margin-bottom: 0px;
	margin-left: 30px;
	margin-right: 20px;
	width: auto;
	margin-bottom: 20px;
}
.contents_form img {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin-left: 0px;
}
#send {
	line-height: 2em;
}
/*
/ニュース
*/

/*
メニュー
*/

.menu_table_text {
	text-align: left;
	font-size: 13px;
	padding-left: 215px;
	line-height: 1.4;
	max-width: 400px;
	min-height: 56px;
}
.menu_cate_box img {
	float: left;
}
.menu_table_text a {
	font-weight: bold;
	color: #008cb4;
}
.up_down {
	float: right;
	width: 50px;
	margin-right: 20px;
	margin-top: 3px;
}
.menu_cate_box {
	line-height: 1.4;
	float: left;
	min-width: 500px;
}
.menu_ac {
	padding: 20px;
}
.menu_inline:first-child {
	border: 1px solid #ccc;
	display: block;
	margin-left: 209px;
	margin-top: 20px;
	padding: 20px;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	min-height: 90px;
	margin-right: 15px;
}
.menu_inline {
	border: 1px solid #ccc;
	display: block;
	margin-left: 209px;
	padding: 20px;
	border-top: none;
	min-height: 90px;
	margin-right: 15px;
}
.menu_inline img {
	float: left;
}
.add_box {
	height: 30px!important;
	min-height: 30px;
}
.bucket {
	background: url(../../../assets/img/common/icon/i11.png), #fff;
	background-image/***/: url(../../../assets/img/common/icon/i11_8.png)\9;/* IE8 */
	background-repeat: no-repeat;
	background-position: center;
	background-size: 17px;
	width: 23px;
}