.contents_box .contents_box_head + div{
  float: left;
  margin: 20px;
}
.contents_box .contents_box_head + div + div{
  float: right;
  width: 275px;
  margin: 40px 30px;
}
.contents_box .contents_box_head + div + div>a{
  margin: 10px 0 0 0px;
}
.contents_box .contents_box_head + div + div label{
  width: 5em;
  text-align: left;
}
.contents_box .contents_box_head + div + div span{
  width: auto;
}
.contents_box .contents_box_head + div + div span.tyui{
  color: #900;
  margin-top: 5px;
}

.download_btn:hover {
-webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
filter: brightness(90%);
-webkit-filter: brightness(90%);
}
.download_btn {
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
background: #FFFFFF;
padding: 5px 10px;
color: #7A7A7A;
border: 1px solid #DBDBDB;
border-bottom: 2px solid #c5c5c5;
font-weight: bold;
text-decoration: none;
display: inline-block;
}

.contents_box span{
padding:0px;
}

.contents_box ul li {
min-height: 20px;
}