@charset "utf-8";
/* CSS Document */

.w_60{width:60px!important;}
.w_90{width:90px!important;}
.w_100{width:100px!important;}
.w_120{width:120px!important;}
.w_200{width:200px!important;}
.mt_0{margin-top:0px!important;}
.mt_30{margin-top:30px!important;}
.mr_0{margin-right:0px!important;}
.mb_0{margin-bottom:0px!important;}
.ml_0{margin-left:0px!important;}
.ml_15{margin-left:15px!important;}
.ml_20{margin-left:20px!important;}
.pt_60{padding-top:60px!important;}
.pl_30{padding-left:30px!important;}
.txt_l{text-align:left!important;}
.txt_r{text-align:right!important;}

/**
 * ルートトップ：アプリ進捗状況
 */
.index_contents_left ul .index_bar1.on{
background-image: url(/assets/img/common/index/bar1_on.png);
}
.index_contents_left ul .index_bar2.on{
background-image: url(/assets/img/common/index/bar2_on.png);
padding-top: 10px;
}
.index_contents_left ul .index_bar3.on{
background-image: url(/assets/img/common/index/bar3_on.png);
padding-top: 10px;
}
.index_contents_left ul .index_bar4.on{
background-image: url(/assets/img/common/index/bar4_on.png);
padding-top: 10px;
}
.index_contents_left ul .index_bar5.on{
background-image: url(/assets/img/common/index/bar5_on.png);
padding-top: 10px;
}
.index_contents_left ul .index_bar6.on{
background-image: url(/assets/img/common/index/bar6_on.png);
padding-top: 10px;
}
.index_contents_left ul .index_bar7.on{
background-image: url(/assets/img/common/index/bar7_on.png);
padding-top: 10px;
}
.index_contents_left ul .index_bar8.on{
background-image: url(/assets/img/common/index/bar8_on.png);
padding-top: 10px;
}


/**
 * コンテンツタイトル
 */
#title_bar {
 float: left;
 border-radius: 2px;
 border-radius: 2px;
 width: 8px;
 height: 59px;
}
#title_bar.top_color {
  background: #008cb4;
}
#title_bar.coupon_color {
  background: #90b50a;
}
#title_bar.news_color {
  background: #479f22;
}
#title_bar.menu_color {
  background: #f7ad24;
}
#title_bar.payment_color {
  background: #cd4538;
}
#title_bar.pop_color {
  background: rgb(23, 191, 0);
}
#title_bar.info_color {
  background: rgb(36, 147, 199);
}

#title_bar_original {
 float: left;
 border-radius: 2px;
 border-radius: 2px;
 width: 8px;
 height: 59px;
}
#title_bar_original.info_color {
  background: rgb(36, 147, 199);
}

/**
 * 変更できませんの注意書き
 */
div.contents_box_head.lock:before{
  content: '.';
  display: inline-block;
  position: absolute;
  margin-top: -13px;
  margin-left: -30px;
  width: 20px;
  height: 40px;
  color: rgba(205, 69, 56, 1);
  background-color: rgba(205, 69, 56, 1);
  border-top-left-radius: 3px;
}

/**
 * contents_box の中に p タグ対応
 * ＋ 必須項目の場合、赤表示対応
 */
.contents_box>h4{
  margin-bottom: 0;
}
.contents_box>h4+p{
  margin-top: 5px;
  margin-left: 30px;
  color: #7A7A7A;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.6em;
}
.contents_box>h4+p span{
  width: auto;
  margin-bottom: 0;
  padding: 0;
  line-height: normal;
  vertical-align: middle;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.contents_box>h4+p span.hisu{
  color: #900;
}

/*+
 * 並び替え
 */
.placeholder{
  background-color: #afeeee;
}

/*+
 * 並び替え
 */
#sortable-li2 {
padding:0 20px 20px 30px;
}
#sortable-li2 li{
margin-right:10px;
margin-top: 20px;
border: 1px solid #E9E9E9;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}
#sortable-li2 li img{
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}

/**
 * 一覧表示での pタグの指定
 */
 div.contents_box div.menu_list>p,
 div.contents_box ul li.news_table>p{
  margin-top: 5px;
  margin-left: 30px;
  color: #7A7A7A;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.6em;
}

/**
 * タブ名変更のところのボタン横置き
 */
 .save_btn.position_right{
  margin: 0 0 20px 10px;
  padding: 7px 10px 5px;
  vertical-align: middle;
 }


/**
 * プレビューの切り替えラジオボタン
 */
div.preview_radio_group{
  width: 185px;
  margin: 0px auto;
}
div.preview_radio_group input{
  display: none;
}
div.preview_radio_group label{
  cursor: pointer;
  padding: 5px 10px;
  float: left;
  border: solid 1px #aaa;
  margin-left: -1px;
  background: #eee;
}
div.preview_radio_group label#label_play{
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}
div.preview_radio_group label#label_store{
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}
div.preview_radio_group input:checked+label{
  color: #fff;
  background: #C3C3C3;
}


.payment_text{
  display: block;
  margin-top: -10px;
  margin-left: 0px!important;
  margin-bottom: 0px!important;
}
.payment_text span{
  color: #fb9629!important;
}

.payment_limit_text.limit_at_text{
  width: 316px;
  margin-top: 38px;
  margin-left: 0px!important;
  margin-bottom: -64px;
  color: rgb(122,109,81);
  font-size: 2em;
  text-align: right;
}
p.desc_margin{
margin-bottom: 30px;
margin-left: 179px;
font-size: 14px;
color: #7A7A7A;
}

.payment_note_box.transfer{
  margin: 20px 40px 0px;
}


