{include "preview/common/header.tpl"}


<!-- ▼コンテンツ -->
<div id="p_content_wrap" class="p_top">

<p>インデックス</p>
<p>
  <a href="/preview/top">TOP</a><br />
  <a href="/preview/coupon">COUPON</a><br />
  <a href="/preview/news">NEWS</a><br />
  <a href="/preview/menu">MENU</a><br />
  <a href="/preview/setting">SETTING</a><br />
</p>

</div>
<!-- ▲ -->


{include "preview/common/footer.tpl"}
