{include "preview/common/header_webview.tpl"}


<!-- ▼コンテンツ -->
<div id="p_content_wrap" style="height:384px;">

<iframe src="{$url}" name="web" width="240" height="384">
  この部分はインラインフレームを使用しています。
</iframe>

</div>
<!-- ▲ -->


{include "preview/common/footer_webview.tpl"}
