@charset "utf-8";
/**
 * base.css
 * Last Updated: 2013-08-06
 * Author: Yoshitaka Kitagawa
 **/


/* clearfix */
.clearfix:after{
  content: ".";
  display: block;
  height: 0;
  font-size:0;
  clear: both;
  visibility:hidden;
}
.clearfix{ display: inline-block; }
* html .clearfix{ height: 1%; }
.clearfix{ display:block; }


/* html,boxy Styles */
html, body{
  margin: 0;
  padding: 0;
  color: #333;
  background: #f5f5f0;
}


/* iPhone Background */
#p_iphone{
  width: 300px;
  height: 515px;
  margin: 0px;
  padding: 96px 0 0;
  background-color: #f5f5f0;
  background-image: url(/assets/preview/img/iphone.png);
  background-position: 0 0;
  background-size: 300px 615px;
  background-repeat: no-repeat;
}


/* ID Styles */
#p_wrap{
  width: 240px;
  height: 426px;
  margin: 0 auto 0;
  background: #fff;
}


/* Header Style */
#p_header_wrap{
  width: 240px;
  height: 33px;
  background-image: url(/assets/preview/img/titlebar/ipost_bar.png);
  background-repeat: no-repeat;
  background-size: 240px 33px;

}
#p_header_wrap h1{
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

#p_header_wrap #p_h_left a#back img{
  margin: 5px 0 0 5px;
}


/* Footer Style */
#p_footer_wrap{
  width: 240px;
  height: 42px;
  background: #2e2e2e;
}
#p_footer_wrap ul li{ list-style: none; }
#p_footer_wrap ul li{
  float: left;
  background: #2e2e2e;
}
#p_footer_wrap ul li a{
  display: block;
  width: 48px;
  padding: 12px 0 3px;
  text-decoration: none;
  text-align: center;
}
#p_footer_wrap ul li a span{
  display: block;
  color: #fff;
  font-size: xx-small;
}
#p_footer_wrap ul li.current{
  background: #b7382c;
}


/* Footer WebView Style */
#p_footer_webview_wrap{
  width: 240px;
  height: 42px;
  background: #b7382c;
  background-image: url(/assets/preview/img/titlebar/ipost_bar.png);
  background-repeat: repeat-x;
  background-position: -10px 0px;
}
#p_footer_webview_wrap ul li{ list-style: none; }
#p_footer_webview_wrap ul li{
  float: left;
  margin: 3px 0 0 5px;
  background-color: transparent;
}
#p_footer_webview_wrap ul li a{
  display: block;
  width: 48px;
  padding: 12px 0 3px;
  text-decoration: none;
  text-align: center;
}
#p_footer_webview_wrap ul li a#close{
  margin: 5px 0 0 15px;
  padding: 0px;
}


/* Carousel Styles */
.p_image_carousel {
  margin: 15px auto 40px;
}
.p_image_carousel img {
  display: block;
  float: left;
  margin: 20px;
}

.p_pagination {
  text-align: center;
}
.p_pagination a {
  background-image: url(/assets/preview/img/paging_dot.png);
  background-size: 14px 7px;
  background-position: -7px 0;
  background-repeat: no-repeat;
  background-color: transparent;
  width: 7px;
  height: 7px;
  margin: 10px 5px 0 0;
  display: inline-block;
}
.p_pagination a.selected {
  background-position: 0px 0px;
  cursor: default;
}
.p_pagination a span {
  display: none;
}


/* Contents Style */
#p_content_wrap{
  width: 240px;
  height: 350px;
  overflow: auto;
  overflow-x : hidden ;
}


/* Top Page Styles */
#p_content_wrap.p_top{
  background-color: #e9e9e9;
}
.p_top_carousel{
  width: 225px;
  height: 175px;
  margin: 10px 7px 7px;
  padding-top: 3px;
  background-color: #fff;
}


/* Top Page Buttons Style */
.p_top_btns{
  width: 225px;
  height: 69px;
  margin: 10px 7px 7px;
}
.p_t_b_left_box{
  float: left;
}
.p_btns_box{
  width: 69px;
  height: 69px;
  background-color: #fff;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-box-shadow: 1px 1px 3px #bbb;
  -moz-box-shadow: 1px 1px 3px #bbb;
}
.p_btns_box a{
  display: block;
  padding: 15px 4px;
}
.p_t_b_left{
  float: left;
}
.p_t_b_center{
  float: right;
  margin-left: 9px;
}
.p_t_b_right{
  float: right;
}


/* Top Page Facebook Button Stryle */
.p_top_url a{
  display: block;
  width: 130px;
  /*height: 20px;*/
  margin: 10px auto;
  padding: 9px 0px 7px 42px;
  color: #fff;
  text-decoration: none;
  background-color: rgba(154, 32, 36, 1);
  background-image: url(/assets/preview/img/topButton/ipost_main_url_icon.png);
  background-repeat: no-repeat;
  background-size: 14px 14px;
  background-position: 22px 8px;
  font-size: 15px;
}


/* Shop Detail Page Styles */
#p_content_wrap.p_s_detail{
  background-color: #e9e9e9;
}
.p_s_d_img{
  width: 225px;
  height: 148px;
  margin: 7px auto 7px;
  -webkit-box-shadow: 0px 0px 3px #aaa;
  -moz-box-shadow: 0px 0px 3px #aaa;
}
.p_s_d_date{
  width: 225px;
  margin: 7px auto 14px;
  background-color: #fff;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-box-shadow: 0px 0px 3px #bbb;
  -moz-box-shadow: 0px 0px 3px #bbb;
}
.p_s_d_date ul{ list-style: none; }
.p_s_d_date ul li{ border-bottom: dashed 1px #d2d2d2; }
.p_s_d_date ul li:last-child{ border-bottom: none; }
.p_s_d_date ul li label{
  display: block;
  float: left;
  margin: 5px;
  padding: 3px;
  width: 60px;
  font-size: x-small;
  font-weight: bold;
}
.p_s_d_date ul li span{
  display: inline-block;
  width: 130px;
  margin: 5px;
  padding: 3px;
  color: #555;
  font-size: xx-small;
  vertical-align: middle;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-transition: border linear .2s,box-shadow linear .2s;
  -moz-transition: border linear .2s,box-shadow linear .2s;
  -o-transition: border linear .2s,box-shadow linear .2s;
  transition: border linear .2s,box-shadow linear .2s;
}


/* Coupon Page Style */
#p_content_wrap.p_coupon{
  background-image: url(/assets/preview/img/coupon/ipost_coupon_bg.png);
}
#p_content_wrap.p_coupon .p_image_carousel {
  margin: 0px auto 40px;
}
#p_content_wrap.p_coupon .p_image_carousel img {
  margin: 0 15px;
}


/* News Page Style */
#p_content_wrap.p_top{
  background-color: #e9e9e9;
}
.p_news_list ul li{
  width: 225px;
  margin: 7px 7px 14px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-box-shadow: 0px 0px 3px #bbb;
  -moz-box-shadow: 0px 0px 3px #bbb;
}
.p_news_list ul li.no_send{
  filter: alpha(opacity=50);
  -moz-opacity:0.5;
  opacity:0.5;
}
.p_news_list ul li .p_n_title{
  width: 217px;
  height: 26px;
  padding-left: 8px;
  color: #fff;
  font-size: 12px;
  line-height: 26px;
  background-color: #b7382c;
  border-radius: 2px 2px 0 0;
  -webkit-border-radius: 2px 2px 0 0;
  -moz-border-radius: 2px 2px 0 0;
  -webkit-box-shadow: 0px 0px 3px #bbb;
  -moz-box-shadow: 0px 0px 3px #bbb;
}
.p_news_list ul li .p_n_sub{
  padding: 7px 3px 3px;
  color: #646464;
  border-bottom: dashed 1px #d2d2d2;
}
.p_news_list ul li .p_n_sub .p_n_s_time{
  padding: 7px 0;
  color: #c1c1c1;
  font-size: xx-small;
  text-align: right;
}
.p_news_list ul li .p_n_text{
  padding: 7px 3px;
  font-size: xx-small;
}
.p_news_list ul li img{
  width: 210px;
  margin: 7px;
}


/* Menu Page Styles */
.p_menu_list ul li{
  width: 240px;
  height: 54px;
  border-bottom: solid 1px #e0e0e0;
  background-image: url(/assets/preview/img/arrow.png);
  background-size: 9px 13px;
  background-repeat: no-repeat;
  background-position: 225px 22px;
}
.p_menu_list ul li a{
  text-decoration: none;
}
.p_m_list_img{
  float: left;
  width: 55px;
  height: 55px;
  overflow: hidden;
}
.p_m_list_img img{
  width: auto;
  height: 55px;
  margin-left: -23px;
}
.p_m_list_data{
  float: right;
}
.p_m_list_data .p_m_list_title{
  float: left;
  width: 95px;
  padding: 5px;
  text-align: left;
  font-size: xx-small;
  color: #000;
}
.p_m_list_data .p_m_list_time{
  float: right;
  width: 70px;
  padding: 5px;
  font-size: 9px;
}
.p_m_list_data .p_m_list_sub{
  width: 150px;
  padding: 5px;
  text-align: left;
  font-size: xx-small;
  color: #9c9c9c;
  overflow: hidden;
}


/* Menu Detail Page Styles */
#p_content_wrap.p_m_detail{
  background-color: #e9e9e9;
}
.p_m_d_img{
  width: 225px;
  height: 123px;
  margin: 7px auto 7px;
  -webkit-box-shadow: 0px 0px 3px #aaa;
  -moz-box-shadow: 0px 0px 3px #aaa;
}
.p_m_d_date{
  width: 225px;
  margin: 7px 7px 14px;
  background-color: #fff;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-box-shadow: 0px 0px 3px #bbb;
  -moz-box-shadow: 0px 0px 3px #bbb;
}
.p_m_d_date .p_m_d_d_name{
  width: 217px;
  height: 26px;
  padding-left: 8px;
  color: #fff;
  font-size: 12px;
  line-height: 26px;
  background-color: #da4b3b;
  border-radius: 2px 2px 0 0;
  -webkit-border-radius: 2px 2px 0 0;
  -moz-border-radius: 2px 2px 0 0;
  -webkit-box-shadow: 0px 0px 3px #bbb;
  -moz-box-shadow: 0px 0px 3px #bbb;
}
.p_m_d_date .p_m_d_d_text{
  padding: 7px 3px;
  font-size: xx-small;
}
.p_m_d_date .p_m_d_d_price{
  float: right;
  margin: 7px 7px 3px;
  padding-left: 24px;
  color: #da4b3b;
  font-size: xx-small;
  text-align: right;
  line-height: 12px;
  background-image: url(/assets/preview/img/menu/ipost_menu_detail_tag.png);
  background-repeat: no-repeat;
  background-size: 21px 12px;
}
.p_m_d_date .p_m_d_d_time{
  padding: 3px 7px 7px;
  color: #ccc;
  font-size: xx-small;
  text-align: right;
}
.p_m_d_btns{
  padding-bottom: 30px;
}
.p_m_d_btns .p_m_d_btn_store{
  display: block;
  width: 146px;
  line-height: 24px;
  margin: auto;
  padding: 1px 0 0 13px;
  color: #fff;
  font-size: xx-small;
  text-decoration: none;
  text-align: center;
  background-color: #f39862;
  background-image: url("/assets/preview/img/menu/ipost_menu_store.png");
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: 30px 4px;
}


/* Setting Page Styles */
.p_setting{
  background-color: #e9e9e9;
}
.p_setting_list{
  width: 225px;
  margin: 20px auto;
}
.p_setting_list ul{ list-style: none; }
.p_setting_list ul li{
  margin: 0 0 10px;
  padding: 10px;
  font-size: xx-small;
  font-weight: bold;
  background-image: url(/assets/preview/img/arrow.png);
  background-size: 9px 13px;
  background-repeat: no-repeat;
  background-position: 208px 9px;
  background-color: #fff;
  border: solid 1px #b3b3b3;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-box-shadow: 1px 1px 3px #bbb;
  -moz-box-shadow: 1px 1px 3px #bbb;
}
.p_setting_list ul li.p_no_allow{
  background-image: none;
}
.p_setting_list ul li.p_section_title{
  margin: 0;
  color: #666;
  border-style: none;
  background-image: none;
  background-color: transparent;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
.p_setting_list ul li a{
  display: block;
  color: #333;
  text-decoration: none;
}
.p_setting_list ul li label{
  display: block;
  float: left;
  width: 70px;
}
.p_setting_list ul li span{
  display: inline-block;
  width: 130px;
  color: #555;
  vertical-align: middle;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-transition: border linear .2s,box-shadow linear .2s;
  -moz-transition: border linear .2s,box-shadow linear .2s;
  -o-transition: border linear .2s,box-shadow linear .2s;
  transition: border linear .2s,box-shadow linear .2s;
}
.p_setting_list ul li label.p_switch{
  width: 155px;
  margin: 1px 0 0;
}
.p_setting_list ul li span.p_switch{
  width: 30px;
  margin-top: -4px 0 -3px;
}


/**
 * iOS 6 style switch checkboxes
 * by Lea Verou http://lea.verou.me
 */
:root input[type="checkbox"] { /* :root here acting as a filter for older browsers */
  position: absolute;
  opacity: 0;
}

:root input[type="checkbox"].ios-switch + div {
  display: inline-block;
  vertical-align: middle;
  width: 3em; height: 1em;
  border: 1px solid rgba(0,0,0,.3);
  border-radius: 999px;
  margin: 0 .5em;
  background: white;
  background-image: linear-gradient(rgba(0,0,0,.1), transparent),
                    linear-gradient(90deg, hsl(210, 90%, 60%) 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: 100% 0;
  background-origin: border-box;
  background-clip: border-box;
  overflow: hidden;
  transition-duration: .4s;
  transition-property: padding, width, background-position, text-indent;
  box-shadow: 0 .1em .1em rgba(0,0,0,.2) inset,
              0 .45em 0 .1em rgba(0,0,0,.05) inset;
  font-size: 150%; /* change this and see how they adjust! */
}

:root input[type="checkbox"].ios-switch:checked + div {
  padding-left: 2em;  width: 1em;
  background-position: 0 0;
}

:root input[type="checkbox"].ios-switch + div:before {
  content: 'On';
  float: left;
  width: 1.65em; height: 1.65em;
  margin: -.1em;
  border: 1px solid rgba(0,0,0,.35);
  border-radius: inherit;
  background: white;
  background-image: linear-gradient(rgba(0,0,0,.2), transparent);
  box-shadow: 0 .1em .1em .1em hsla(0,0%,100%,.8) inset,
              0 0 .5em rgba(0,0,0,.3);
  color: white;
  text-shadow: 0 -1px 1px rgba(0,0,0,.3);
  text-indent: -2.5em;
}

:root input[type="checkbox"].ios-switch:active + div:before {
  background-color: #eee;
}

:root input[type="checkbox"].ios-switch:focus + div {
  box-shadow: 0 .1em .1em rgba(0,0,0,.2) inset,
              0 .45em 0 .1em rgba(0,0,0,.05) inset,
              0 0 .4em 1px rgba(255,0,0,.5);
}

:root input[type="checkbox"].ios-switch + div:before,
:root input[type="checkbox"].ios-switch + div:after {
  font: bold 60%/1.9 sans-serif;
  text-transform: uppercase;
}

:root input[type="checkbox"].ios-switch + div:after {
  content: 'Off';
  float: left;
  text-indent: .5em;
  color: rgba(0,0,0,.45);
  text-shadow: none;

}

