@charset "utf-8";
/**
 * play.css
 * Last Updated: 2013-11-19
 * Author: Yoshitaka Kitagawa
 **/

/* clearfix */
.clearfix:after{
  content: ".";
  display: block;
  height: 0;
  font-size:0;
  clear: both;
  visibility:hidden;
}
.clearfix{ display: inline-block; }
* html .clearfix{ height: 1%; }
.clearfix{ display:block; }

.fl_l{float:left;}
.fl_r{float:right;}

/* html,boxy Styles */
html, body{
  font-family: "lucida grande", "meiryo", "hiragino kaku gothic pro", sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  font-size: 9px;
  background-color: transparent;
}
ul,li{list-style: none;}
hr{
  height: 1px;
  color: rgba(195, 195, 195, 1);
  background-color: rgba(195, 195, 195, 1);
  border: none;
}

/* Xperia Background */
#android{
  width: 300px;
  height: 566px;
  margin: 0px;
  padding: 56px 0 0;
  background-image: url(/assets/preview/img/xperia.png);
  background-position: 0 0;
  background-size: 300px 615px;
  background-repeat: no-repeat;
}

/* Wrap Styles */
#wrap{
  width: 244px;
  height: 468px;
  margin: 0 0 0 26px;
  background-color: rgba(229, 229, 229, 1);
}

/* Contents Style */
#contents_wrap{
  width: 244px;
  height: 320px;
  overflow: auto;
  overflow-x : hidden ;
}

/* Header Style */
#header.play{
  width: 244px;
  height: 50px;
  background-image: url(/assets/preview/img/play/play_header.png);
  background-repeat: no-repeat;
  background-size: 244px 48px;

}

/* Footer Style */
#footer.play{
  width: 240px;
  height: 37px;
  background-image: url(/assets/preview/img/play/play_footer.png);
  background-repeat: no-repeat;
  background-size: 240px 37px;
}

/* Application Infomation Style */
div#app_info{
  padding: 5px 5px 5px;
  border-bottom: solid 2px rgba(178, 203, 57, 1);
}
div#app_info div#app_icon img{
  display: inline-block;
  width: 85px;
  height: 85px;
}

/* Application Text Style */
div#app_info div#app_text{
  width: 140px;
}
div#app_info div#app_text div#app_name{
  height: 66px;
}
div#app_info div#app_text div#app_name h1{
  font-size: 1.5em;
  line-height: 1.7em;
  font-weight: normal;
}
div#app_info div#app_text div#app_name h2{
  font-weight: normal;
}
div#app_info div#app_text div#app_install{
  text-align: right;
}
div#app_info div#app_text div#app_install a.install_btn{
  display: inline-block;
  padding: 5px 10px;
  color: #fff;
  text-decoration: none;
  background-color: rgba(178, 203, 57, 1);
}

/* List Screen Shot Style */
ul#list li#list_img{
  overflow: auto;
  overflow-y : hidden ;
}
ul#list li#list_img div{
  width: 512px;
  height: 160px;
}
ul#list li#list_img div img{
  margin: 0 5px;
}

/* List Style */
ul#list li{
  padding: 0 10px;
}

/* List Item Style */
ul#list li h4{
  color: #333;
  font-size: 1.5em;
  font-weight: normal;
}
ul#list li p{
  line-height: 1.8em;
}
ul#list li#list_google p{
  padding-left: 34px;
  background-image: url(/assets/preview/img/play/play_google.png);
  background-repeat: no-repeat;
  background-size: 30px 19px;
  background-position: 0px center;
}

/* List Bottom */
ul#list li.link_contents p{
  margin: 5px 5px 5px 0;
  color: rgba(170, 170, 170, 1);
  font-size: 0.9em;
  line-height: 1em;
}
ul#list li.link_web{
  padding: 5px 0 0 46px;
  background-image: url(/assets/preview/img/play/play_weblink.png);
  background-repeat: no-repeat;
  background-size: 28px;
  background-position: 10px center;
}
ul#list li.link_mail{
  padding: 5px 0 0 46px;
  background-image: url(/assets/preview/img/play/play_mail.png);
  background-repeat: no-repeat;
  background-size: 28px 21px;
  background-position: 10px center;
}
