{include "common/header.tpl"}

{include "common/header_meta/profile.tpl"}

<div class="contents_box">
  <div class="contents_box_head">プロフィールの変更
  </div>
  <h4>プロフィールの変更</h4>

  <div class="contents_form">
    <ul>
      <li>
        <span class="ml_30">プロフィールの変更が完了しました</span>
      </li>
    </ul>
    <hr />
    <a href="/profile" id="save_btn" class="back_btn ml_30">戻る</a>
  </div>
</div>

<div class="last_margin"></div>

{include "common/footer.tpl"}
