{include "common/header.tpl"}


{include "common/header_meta/menu.tpl"}


<!-- メニュートップ画像の変更 -->
<div class="contents_box">
  <div class="contents_box_head">メニュートップ画像の変更
  </div>
  <h4>メニュートップ画像の変更</h4>

  <form action="/menu/top/update" method="POST">

<div class="contents_form">
  <ul>
    <li>
      <span class="ml_30">メニュートップ画像の変更が完了しました</span>
    </li>
  </ul>

  <hr />

  <a href="/menu" id="save_btn" class="back_btn ml_30">戻る</a>
</div>

  </form>
</div>
<!---->


{include "common/footer.tpl"}
