{include "common/header.tpl"}


{include "common/header_meta/appoint.tpl"}


<!-- トピックメッセージ -->
<div class="contents_box">
  <div class="contents_box_head">予約カレンダーの表示</div>
  <h4>予約カレンダーの表示</h4>

  <form action="/top/topic/update" method="POST">

<div class="contents_form">
  <ul>
    <li>
      <span class="ml_30">予約カレンダーの表示の更新が完了しました</span>
    </li>
  </ul>

  <hr />

  <a href="/top" id="save_btn" class="back_btn ml_30">戻る</a>
</div>

  </form>
</div>
<!---->


<div class="last_margin"></div>


{include "common/footer.tpl"}
