<p>
  Copyright © 2013 HIROPRO, Inc. All Rights Reserved.&nbsp;|&nbsp;
  <a href="/support/help" target="_blank">{__('footer.help')}</a>&nbsp;|&nbsp;
  <a href="/support/policy" target="_blank">{__('footer.terms_of_user')}</a>&nbsp;|&nbsp;
  <a href="/contact/mail" target="_blank">{__('footer.contact')}</a>&nbsp;|&nbsp;
  <a href="/pop">{__('footer.postar_pop')}</a>
</p>
